main.main.order.col-lg-9.col-md-12
	form.myform
		h1.title Корзина
		.forms-wrapp
			.row.align-items-center.order-item
				.col-md-2.col-12
					img(src="static/images/content/card.png", alt="pic")
				.col-md-4.col-12
					a.order__link(href="#") UNO, Гель–краска №005 Red — «Красная»
				.col-md-2.col-3
					.myform-box.order-page-form
						div.order-input-box.order-input-box_result
							input(type='text' name='quantity1' value='3' class='qty')
						div.order-input-box__wrapp
							div.order-input-box.order-input-box__min
								span.qtyminus(field='quantity1')
									i.fal.fa-chevron-up
							
							div.order-input-box.order-input-box__max
								span.qtyplus(field='quantity1')
									i.fal.fa-chevron-down

				.col-md-1.col-3
					a(href="")
						img(src="static/images/icons/action-like.png", alt="pic")
				.col-md-2.col-3
					span.value-price 360 &#8381;
				.col-md-1.col-3
					a.order_clear__link(href="")
						i.fal.fa-times
			
			.row.align-items-center.order-item
				.col-md-2.col-12
					img(src="static/images/content/card.png", alt="pic")
				.col-md-4.col-12
					a.order__link(href="#") UNO, Гель–краска №005 Red — «Красная»
				.col-md-2.col-3
					.myform-box.order-page-form
						div.order-input-box.order-input-box_result
							input(type='text' name='quantity2' value='2' class='qty')
						div.order-input-box__wrapp
							div.order-input-box.order-input-box__min
								span.qtyminus(field='quantity2')
									i.fal.fa-chevron-up
							
							div.order-input-box.order-input-box__max
								span.qtyplus(field='quantity2')
									i.fal.fa-chevron-down

				.col-md-1.col-3
					a(href="")
						img(src="static/images/icons/action-like.png", alt="pic")
				.col-md-2.col-3
					span.value-price 360 &#8381;
				.col-md-1.col-3
					a.order_clear__link(href="")
						i.fal.fa-times
			
			.row.align-items-center.order-item
				.col-md-2.col-12
					img(src="static/images/content/card.png", alt="pic")
				.col-md-4.col-12
					a.order__link(href="#") UNO, Гель–краска №005 Red — «Красная»
				.col-md-2.col-3
					.myform-box.order-page-form
						div.order-input-box.order-input-box_result
							input(type='text' name='quantity3' value='12' class='qty')
						div.order-input-box__wrapp
							div.order-input-box.order-input-box__min
								span.qtyminus(field='quantity3')
									i.fal.fa-chevron-up
							
							div.order-input-box.order-input-box__max
								span.qtyplus(field='quantity3')
									i.fal.fa-chevron-down

				.col-md-1.col-3
					a(href="")
						img(src="static/images/icons/action-like.png", alt="pic")
				.col-md-2.col-3
					span.value-price 360 &#8381;
				.col-md-1.col-3
					a.order_clear__link(href="")
						i.fal.fa-times

			.total-cart
				.row
					.col-md-8
						.coupon
							input.coupon-code(type="text", placeholder="Промокод или сертификат")
							input.coupon-button(type="submit" class="coupon-button flexdiscount-submit-button" value="Применить")
					.col-md-4
						.total-text
							span.total-desc Итого:
							span.total-summ 1080 &#8381;
			.recomend
				.row
					.col-md-12
						p Возможно, Вам пригодится:
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti, qui, velit dolore nisi tenetur eaque ad sapiente beatae id alias, aliquid.
		.row
			.col-md-12.favourites-mb
				.actions-items.page-item-card
					.row
						.col-lg-3.col-md-6.item-card-carousel__item
							.item-card-carousel__hit
								span Хит!
							h4 UNO, Гель-краска №015 Red — «Красная»
							.card-carousel-pic
								.card-carousel-pic_first
									img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
									img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
								.card-carousel-pic_inner
									img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
									img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
							.card-carousel__desc
								p Плотная гель-краска красного цвета. 
								p Имеет дисперсионный слой.  5мл.
							.card-carousel__price
								span 390 &#8381;
							.recently-watched__order
								.recently-watched__order-wrapp
									input(type="number", value="1", min="1")
									span шт.
								button(type="button", data-toggle="modal", data-target="#exampleModalCenter").btn.recently-watched-btn Купить
							.recently-watched-have
								span В наличии
									.item-card-hover-box
										.item-card-hover__item
											p Интернет-магазин – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Нарва" Ленинский –
											span 1 шт.
										.item-card-hover__item
											p БЦ "Нижегородский" Москва – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Миллер" Комендантский –
											span 1 шт
										.item-card-hover__item
											p ТРК "Балканский" Купчино –
											span.hover__item_no_pay Нет в наличии  
										.item-card-hover__item
											p ТЦ "Заневский каскад" Ладожская -
											span 1 шт
										.item-card-hover__item
											p ТРК "Принц Плаза" Москва –  
											span.hover__item_no_pay Нет в наличии
						.col-lg-3.col-md-6.item-card-carousel__item
							.item-card-carousel__hit
								span Хит!
							h4 UNO, Гель-краска №015 Red — «Красная»
							.card-carousel-pic
								.card-carousel-pic_first
									img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
									img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
								.card-carousel-pic_inner
									img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
									img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
							.card-carousel__desc
								p Плотная гель-краска красного цвета. 
								p Имеет дисперсионный слой.  5мл.
							.card-carousel__price
								span 390 &#8381;
							.recently-watched__order
								.recently-watched__order-wrapp
									input(type="number", value="1", min="1")
									span шт.
								button(type="button", data-toggle="modal", data-target="#exampleModalCenter").btn.recently-watched-btn Купить
							.recently-watched-have
								span В наличии
									.item-card-hover-box
										.item-card-hover__item
											p Интернет-магазин – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Нарва" Ленинский –
											span 1 шт.
										.item-card-hover__item
											p БЦ "Нижегородский" Москва – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Миллер" Комендантский –
											span 1 шт
										.item-card-hover__item
											p ТРК "Балканский" Купчино –
											span.hover__item_no_pay Нет в наличии  
										.item-card-hover__item
											p ТЦ "Заневский каскад" Ладожская -
											span 1 шт
										.item-card-hover__item
											p ТРК "Принц Плаза" Москва –  
											span.hover__item_no_pay Нет в наличии
						.col-lg-3.col-md-6.item-card-carousel__item
							.item-card-carousel__hit
								span Хит!
							h4 UNO, Гель-краска №015 Red — «Красная»
							.card-carousel-pic
								.card-carousel-pic_first
									img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
									img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
								.card-carousel-pic_inner
									img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
									img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
							.card-carousel__desc
								p Плотная гель-краска красного цвета. 
								p Имеет дисперсионный слой.  5мл.
							.card-carousel__price
								span 390 &#8381;
							.recently-watched__order
								.recently-watched__order-wrapp
									input(type="number", value="1", min="1")
									span шт.
								button(type="button", data-toggle="modal", data-target="#exampleModalCenter").btn.recently-watched-btn Купить
							.recently-watched-have
								span В наличии
									.item-card-hover-box
										.item-card-hover__item
											p Интернет-магазин – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Нарва" Ленинский –
											span 1 шт.
										.item-card-hover__item
											p БЦ "Нижегородский" Москва – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Миллер" Комендантский –
											span 1 шт
										.item-card-hover__item
											p ТРК "Балканский" Купчино –
											span.hover__item_no_pay Нет в наличии  
										.item-card-hover__item
											p ТЦ "Заневский каскад" Ладожская -
											span 1 шт
										.item-card-hover__item
											p ТРК "Принц Плаза" Москва –  
											span.hover__item_no_pay Нет в наличии
						.col-lg-3.col-md-6.item-card-carousel__item
							.item-card-carousel__hit
								span Хит!
							h4 UNO, Гель-краска №015 Red — «Красная»
							.card-carousel-pic
								.card-carousel-pic_first
									img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
									img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
								.card-carousel-pic_inner
									img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
									img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
							.card-carousel__desc
								p Плотная гель-краска красного цвета. 
								p Имеет дисперсионный слой.  5мл.
							.card-carousel__price
								span 390 &#8381;
							.recently-watched__order
								.recently-watched__order-wrapp
									input(type="number", value="1", min="1")
									span шт.
								button(type="button", data-toggle="modal", data-target="#exampleModalCenter").btn.recently-watched-btn Купить
							.recently-watched-have
								span В наличии
									.item-card-hover-box
										.item-card-hover__item
											p Интернет-магазин – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Нарва" Ленинский –
											span 1 шт.
										.item-card-hover__item
											p БЦ "Нижегородский" Москва – 
											span.hover__item_no_pay Нет в наличии
										.item-card-hover__item
											p ТЦ "Миллер" Комендантский –
											span 1 шт
										.item-card-hover__item
											p ТРК "Балканский" Купчино –
											span.hover__item_no_pay Нет в наличии  
										.item-card-hover__item
											p ТЦ "Заневский каскад" Ладожская -
											span 1 шт
										.item-card-hover__item
											p ТРК "Принц Плаза" Москва –  
											span.hover__item_no_pay Нет в наличии
		.place_order
			h2.title Контактная информация
			.place_order-form
				.place_order-form-item
					input#new_user_name(type="radio", name="user_name", checked)
					label(for="new_user_name") Я новый покупатель
				.place_order-form-item
					input#user_name(type="radio", name="user_name")
					label(for="user_name") Я уже заказывал ранее и у меня есть аккаунт
				.place_order-form-item_wrapp
					.place_order-form-item_box
						input(type="text", placeholder="Фамилия и имя")
					.place_order-form-item_box
						input.phone-js(type="text", placeholder="Телефон", name="your-phone")
					.place_order-form-item_box
						input(type="text", placeholder="Email")
					.place_order-form-item_box
						input#example-show-hide-callbacks(type="text", data-range="true" data-multiple-dates-separator=" - ", placeholder="День Рождения")
				.place_order-form-item_wrapp
					p Адрес доставки
					.place_order-form-item_box
						input(type="text", placeholder="Страна")
					.place_order-form-item_box
						input(type="text", placeholder="Город")
					.place_order-form-item_box
						input(type="text", placeholder="Регион")
					.place_order-form-item_box
						input(type="text", placeholder="Улица")
					.place_order-form-item_box
						input(type="text", placeholder="Дом, корпус, строение")
					.place_order-form-item_box
						input(type="text", placeholder="Квартира / офис")
					.place_order-form-item_box
						input(type="text", placeholder="Индекс")
		.place_order
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_registr(type="checkbox", name="user_registr", checked)
						label(for="user_registr") 
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-1
						p Зарегистрироваться как постоянный покупатель (Зарегестрировшись на нашем сайте, вы получите возможность участвовать в нашей накопительной программе. Для незарегестрированых покупателей эта функция недоступна)

				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_registr_mail(type="checkbox", name="user_registr")
						label(for="user_registr_mail")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-2-png
						p Подписка на email рассылку. Всегда свежие интересные статьи из мира Nail.
		.place_order
			h2.title Доставка
			.place_order-form.polosa
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_dost(type="radio", name="user_dost", checked)
						label(for="user_dost") 
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-3
						p.place-order-title Самовывоз Санкт-Петербург (бесплатно)
				.rang-select
					select.select
						option.option Выберете
						option.option(selected) м. Купчино, ТК "Балканский-1", Балканская пл., д.5, 1 этаж, помещение 1-32
						option.option 2
						option.option 3

				p Самовывоз в г. Санкт-Петербурге осуществляется <a class="place_order-form__link" href="">бесплатно</a> в розничных магазинах компании Антураж. В случае наличия товара на складе магазина, самовывоз может быть осуществлен в тот-же день. 
				p В ином случае, формирование заказа для самовывоза займет от 1 до 2 дней. 
				p Срок хранения заказа на пункте самовывоза до 3-х дней.
			.place_order-form.polosa
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_sam(type="radio", name="user_dost")
						label(for="user_sam")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-4
						p.place-order-title Курьерская доставка по СПб (в пределах КАД)
				.place_order-form-item_wrapp_i
					.place_order-form-item_box
						input(type="text", placeholder="Улица")
					.place_order-form-item_box
						input(type="text", placeholder="Дом, корпус, строение")
					.place_order-form-item_box
						input(type="text", placeholder="Квартира / офис")
					p По Санкт-Петербургу доставка заказов производится в течение 1-2 рабочих дней с момента соглосования заказа, не считая дня заказа. 
					p.color-red Стоимость доставки по Санкт-Петербургу (в пределах КАД):
					p При заказе на сумму до 5000 руб. – <span class="color-red">300 рублей.</span>
					p При заказе на сумму от 5000 руб. – <span class="color-red">бесплатно.</span>
					p Стоимость доставки в удаленные районы города составляет <span class="color-red">– 350 рублей,</span> в независимости от суммы заказа.
					p Удаленными районами считаются: <span class="color-red">Сестрорецк, Кронштадт, Ломоносов, Петродворец, Красное село, Пушкин, Павловск, Колпино, Всеволожск, Сертолово</span>
			.place_order-form.polosa
				.place_order-form-item.place_order-form-item__inner.mob_flex_wrap
					.place_order-form-input-wrapp__inner
						input#user_sdk(type="radio", name="user_dost")
						label(for="user_sdk")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-5
						p.place-order-title Служба доставки СДЭК
					.rang-select.rang-select_small
						select.select.select_small
							option.option Выберете
							option.option(selected) ПВЗ: На Лиговском 1 
							option.option 2
							option.option 3
				p Обратите внимание! Вы можете выбрать удобный для вас пункт самовывоза, для этого щелкните по выпадающему меню.
				p Стоимость и сроки доставки зависят от региона и способа доставки! При оформлении заказа, наш менеджер свяжется с Вами, для уточнения способа, стоимости и срока доставки. 
				p Если Вы хотите узнать стоимость доставки до Вашего населенного пункта, перед оформлением заказа, позвоните <span class="color-red">8 800 700-73-80 (звонок по России бесплатный).</span>

			.place_order-form.polosa
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_post(type="radio", name="user_dost")
						label(for="user_post")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-6
						p.place-order-title Почта России
				p Доставка "Почтой России" возможна только после полной оплаты заказа! Стоимость доставки "Почтой России" зависит от региона! Наш менеджер обязательно свяжется с Вами по вопросу стоимости и времени доставки. 
				p Если Вы хотите узнать точную стоимость доставки до Вашего населенного пункта перед оформлением заказа, позвоните <a href="tel:+78007007380">8 800 700-73-80.</a>

		.place_order
			h2.title Оплата
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay(type="radio", name="user_pay")
						label(for="user_pay")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-7
						p.place-order-title Наличные
				p Оплата производится наличными курьеру при доставке, при получении заказа в пункте самовывоза или в одном из розничных магазинов «Антураж».
				p При способе доставки "Почтой России" вам придется дополнительно заплатить комиссию за перевод.
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay_cart(type="radio", name="user_pay")
						label(for="user_pay_cart")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-8
						p.place-order-title Банковская карта
				.place_order-form_radio.mob_flex_wrap
					.item-order-radio
						input#fixed-input_1(type="radio", name="card", checked)
						label(for="fixed-input_1")
							span Оплата картой в пункте самовывоза
					.item-order-radio
						input#fixed-input_2(type="radio", name="card")
						label(for="fixed-input_2")
							span Оплата картой на сайте

			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay_bank(type="radio", name="user_pay")
						label(for="user_pay_bank")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-9
						p.place-order-title Банковский перевод
				.place_order-form__links-box
					.row
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/visa.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/cber.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/alfa.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/vtb.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/inteza.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/promsvaz.png", alt="pic")
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay_nal(type="radio", name="user_pay")
						label(for="user_pay_nal")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-10
						p.place-order-title Оплата электронными деньгами
				.place_order-form__links-box
					.row
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/yandex.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/kiwi.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/elexnet.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/webmoney.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/telemoney.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/EasyPAy.png", alt="pic")
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay_salon(type="radio", name="user_pay")
						label(for="user_pay_salon")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-11
						p.place-order-title Оплата с мобильного или в салоне связи
				.place_order-form__links-box
					.row
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/biline.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/mts.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/tele2.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/megafon.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/euroset.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/svyznoi.png", alt="pic")
			.place_order-form
				.place_order-form-item.place_order-form-item__inner
					.place_order-form-input-wrapp__inner
						input#user_pay_term(type="radio", name="user_pay")
						label(for="user_pay_term")
					.place_order-form-item__inner_wrapp_p
						i.sprite-order.sprite-order-i-12
						p.place-order-title Терминал моментальной оплаты
				.place_order-form__links-box
					.row
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/elexnet2.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/kiwi2.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/kassiranet.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/mobilelem.png", alt="pic")
						.col-md-4
							a(href="#")
								img(src="static/images/general/order/city.png", alt="pic")
		.place_order.place_order_user-recipient
			h2.title Подтверждение заказа
			.place_order_user-recipient__item
				span.color-red Получатель
			.place_order_user-recipient__item
				p Российская Федерация, Читинская область, Петровск-Забайкальский, 673000, ул. Лебедевская, 5
			.place_order_user-recipient__item
				.row
					.col-md-6
						h3.place_order_user-recipient__title Ваш заказ
						.user-recipient__item
							p UNO, Гель–краска №005 Red — «Красная»
						.user-recipient__item
							p UNO, Гель–краска №005 Red — «Красная»
						.user-recipient__item
							p UNO, Гель–краска №005 Red — «Красная»
						.user-recipient__item
							p Подытог
						.user-recipient__item
							p Скидка
						.user-recipient__item
							p Доставка

					.col-md-3
						h3.place_order_user-recipient__title Количество
						.user-recipient__item
							span 360 &#8381;
							span х
							span 1
						.user-recipient__item
							span 360 &#8381;
							span х
							span 1
						.user-recipient__item
							span 360 &#8381;
							span х
							span 1
					.col-md-3
						.place_order_user-recipient__title.place_recipient_text_right
							span Итого
						.user-recipient__item.place_recipient_text_right
							span 360 &#8381;
						.user-recipient__item.place_recipient_text_right
							span 360 &#8381;
						.user-recipient__item.place_recipient_text_right
							span 360 &#8381;
						.user-recipient__item.place_recipient_text_right
							span 1080 &#8381;
						.user-recipient__item.place_recipient_text_right
							span - 0 &#8381;
						.user-recipient__item.place_recipient_text_right
							span 0 &#8381;
				.row
					.col-md-12
						.place_recipient_text_right
							span.place_recipient_desc Итого:
							span.place_recipient_summa 1080 &#8381;
				.row
					.col-md-12
						.place_recipient_textarea-wrapp
							p Комментарий
							textarea(name="")
						.row
							.col-md-6
								.place_recipient-check-wrapp
									input#recipient_check(type="checkbox", name="recipient_check", checked)
									label(for="recipient_check") Я принимаю <a href="">Условия предоставления услуг</a>
							.col-md-6.btn-recipient-wrapp
								button(type="submit").btn.btn-recipient Оформить заказ
				.row
					.col-md-12
						.feedback
							p Есть вопросы?
							p Позвоните нам: <a href="tel:+78007007380">8 800 700-73-80</a>


