.title_inner {
	// font-weight: 400;
	margin-bottom: 60px;
}
.slider-for__item img,
.slider-nav__item img {
	margin: auto;
}
.item-card-content {
	margin-bottom: 30px;
	p {
		span.card-desc__desc {
			font-weight: 500;
			margin: 0 5px;
		}
	}
	label {
		position: relative;
	}
	input[type="radio"] {
	    vertical-align: middle;
	    font-size: 20px;
	    line-height: 25px;
	    margin-right: 10px;
	    cursor: pointer;
	    display: none;
	}
	input[type="radio"] + label::before {
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    width: 20px;
	    height: 20px;
	    margin-right: 10px;
	    border-radius: 50%;
	    border: 1px solid $red;
	}
	input[type="radio"]:checked + label::after {
	    content: "";
	    position: absolute;
    	top: 50%;
    	left: 0;
    	transform: translate(50%, -50%);
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
	    background: $red;
	}
	.item-card-radio {
		margin-bottom: 10px;
	}
}

.inner-card {
	.star {
	  display: flex;
	}

	.star__item {
	  color: $light-red;
	  margin: 1px;
	  cursor: pointer;
	  font-size: 12px;
	  opacity: .8;
	}

	.star__item_select {
	  color: $red;
	  opacity: 1;
	}

	.star__item_active {
	  color: $red;
	  opacity: 1;
	}
	.item-card-stars {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		span {
			display: inline-block;
			margin-left: 5px;
			border-bottom: 1px solid $base-color-font;
		}
	}
}










