.page-item-card {

	.slider-for {
		margin-bottom: 50px;
	}
	.slider-for__item img,
	.slider-nav__item img {
		margin: auto;
	}
	.item-card-content {

		p {
			span.card-desc__desc {
				font-weight: 500;
				margin: 0 5px;
			}
		}
		label {
			position: relative;
		}
		input[type="radio"] {
		    vertical-align: middle;
		    font-size: 20px;
		    line-height: 25px;
		    margin-right: 10px;
		    cursor: pointer;
		    display: none;
		}
		input[type="radio"] + label::before {
		    content: "";
		    display: inline-block;
		    vertical-align: middle;
		    width: 20px;
		    height: 20px;
		    margin-right: 10px;
		    border-radius: 50%;
		    border: 1px solid $red;
		}
		input[type="radio"]:checked + label::after {
		    content: "";
		    position: absolute;
	    	top: 50%;
	    	left: 0;
	    	transform: translate(50%, -50%);
		    width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    background: $red;
		}
	}


	.star {
	  display: flex;
	}

	.star__item {
	  color: $light-red;
	  margin: 1px;
	  cursor: pointer;
	  font-size: 12px;
	  opacity: .8;
	}

	.star__item_select {
	  color: $red;
	  opacity: 1;
	}

	.star__item_active {
	  color: $red;
	  opacity: 1;
	}
	.item-card-stars {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		margin-bottom: 15px;
		a {
			display: inline-block;
			margin-left: 5px;
			border-bottom: 1px solid $base-color-font;
			&:hover {
				border-bottom: 1px solid $red;
			}
		}
	}
	.card-content {
		color: $gray;
		a {
			border-bottom: 1px solid $base-color-font;
			&:hover {
				border-bottom: 1px solid $red;
			}
		}
	}
	
	.card-list-wrapp {
		padding-top: 30px;
	}
	.card-list-wrapp ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;

		a {
			display: inline-block;
			padding: 10px 10px 10px 0;
		}
	}
	a {
		&:hover {
			color: $red;
		}
	}
	h2 {
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 26px;
	}
	.card-popular-like {
		position: relative;
		// margin-bottom: 20px;
	}
	.card-popular-like span:after {
	    content: "";
	    position: absolute;
	    top: 3px;
	    left: 0;
	    background: url('../images/icons/spritesheet.png');
	    background-repeat: no-repeat;
	    display: block;
	    width: 11px;
	    height: 11px;
	    background-position: -98px -44px;
	}
	.card-popular {
		margin-bottom: 30px;
	}
	.card-popular input {
	    display: inline-block;
	    padding: 3px;
	    border-width: 1px;
	    border-color: #e4e4e4;
	    border-style: solid;
	    border-radius: 8px;
	    background-color: transparent;
	    width: 41px;
	    min-height: 26px;
	    text-align: center;
	    color: $base-color-font;
	}
	.card-popular span {
		margin: 0 10px;
	}
	button.btn.btn-card-like {
		border-bottom: 1px solid $base-color-font;
		margin: 0 0 0 20px;
		&:hover {
			background: transparent;
			border-bottom: 1px solid $red;
			color: $red;
		}
	}
	.card-order {
		span {
			display: block;
			font-size: 40px;
			font-weight: 500;
			margin-bottom: 30px;
		}
	}
	button.btn.btn-order {
		display: inline-block;
		border-radius: 8px;
		background-color: $red;
		min-width: 97px;
		height: 28px;
		color: $white;
		&:hover {
			background: $light-red;
		}
	}
	.item-card-radio label span {
		margin: 0 5px;
	}
	.inner-card-popular .row {
		align-items: flex-end;
		margin-bottom: 23px;
	}
	.pickup-address {
		a {
			display: inline-block;
			border-bottom: 1px solid $base-color-font;
			&:hover {
				background: transparent;
				border-bottom: 1px solid $red;
				color: $red;
			}
		}
		p {
			margin-bottom: 20px;
			span {
				margin-left: 5px;
				border-bottom: 1px solid $base-color-font;
			}
		}
	}
	h3 {
		font-weight: 500;
		font-size: 12px;
		margin-bottom: 15px;
	}
	a {
		margin-bottom: 5px;
	}
	ul {
		// margin-bottom: 15px;
		li {
			display: flex;
			justify-content: space-between;
			span {
				font-weight: 500;
			}
		}
	}
	.pickup-address {
		margin-top: 50px;
	}
	.pickup-address__data {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		span:last-child {
			font-weight: 500;
		}
	}
	.pickup-address__pay {
		ul li a {
			width: 100%;
			display: flex;
			justify-content: space-between;
			border-bottom: none;
			&:hover {
				border-bottom: none;
			}
		}
	}

	//item-card-carousel
	.item-card-carousel-wrapp {
		// border-width: 2px;
		// border-color: $red;
		// border-style: solid;
		// border-radius: 6px;
		// padding: 15px 30px;
	}
	h3 {
		// text-align: center;
		font-size: 14px;
		margin-bottom: 15px;
	}
	.item-card-carousel__item {
		position: relative;
		// padding: 0 15px 15px 0;
		text-align: center;
		.item-card-carousel__hit {
			border-bottom-right-radius: 75%;
			background-color: $red;
			position: absolute;
			top: 0;
			left: 15px;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			span {
				margin-top: -8px;
				margin-left: -4px;
			}
		}
		h4 {
			width: 83%;
			margin-left: auto;
			margin-right: auto;
			font-size: 12px;
			line-height: 20px;
			font-weight: 300;
			padding-top: 65px;
			margin-bottom: 30px;
		}
		.card-carousel__desc {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
			width: 70%;
		}
	}
	.card-carousel-pic {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 130px;
		cursor: pointer;
		margin-bottom: 30px;
	}
	.card-carousel-pic_first {
		width: 72px;
		overflow: hidden;
		&:hover .carousel-pic_first_show {
			display: none;
		}
		&:hover .carousel-pic_first_hide {
			display: block;
		}
	}
	.card-carousel-pic_inner {
		align-items: flex-start;
		height: 100%;
		cursor: pointer;
		width: 72px;
		overflow: hidden;
	}
	.carousel-pic_first_show {
		display: block;
	}
	.carousel-pic_first_hide {
		display: none;
	}
	.card-carousel-pic_inner {
		&:hover .carousel-pic_inner_show {
			display: none;
		}
		&:hover .carousel-pic_inner_hide {
			display: block;
		}
	}
	.carousel-pic_inner_show {
		display: block;
	}
	.carousel-pic_inner_hide {
		display: none;
	}
	.card-carousel__price {
		text-align: center;
		margin-bottom: 30px;
		span {
			color: $red;
			font-size: 18px;
		}
	}
	.recently-watched__order {

	    text-align: left;
	}
	.recently-watched__order input {
		min-width: 53px;
		min-height: 22px;
	}
}

.item-card-carousel {
	position: relative;
	border-width: 2px;
	border-color: $red;
	border-style: solid;
	border-radius: 6px;
	padding: 15px 30px;
	.slider-svg-ico {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}
	svg.slider-svg-ico {
		color: $gray;
		font-size: 36px;
		cursor: pointer;
		&:hover {
			color: $red;
		}
	}
	.slider-svg-ico__right {
		right: 17px;
	}
	.slider-svg-ico__left {
		left: 17px;
	}
	.slick-dots {
		position: relative;
		display: flex;
		justify-content: center;
		// margin-bottom: 0;
		bottom: 0;
	}
	.slick-dots li button:before {
	    font-family: 'slick';
	    font-size: 14px;
	    line-height: 20px;

	    position: absolute;
	    top: 0;
	    left: 0;

	    width: 20px;
	    height: 20px;

	    content: '•';
	    text-align: center;

	    opacity: .25;
	    color: red;
	}
	.slick-dots li.slick-active button:before {
	    opacity: .75;
	    color: red;
	}
}
.Item-card .item-card-carousel__item {
	padding: 15px;
}

.flexslider .slides img {
	width: auto;
	margin: auto;
}
.flex-direction-nav a:before {
	font-size: 28px;
}
.item-card-carousel__hit_blue {
	background-color: #33b1f2;
}
.item-card-carousel__hit_pink {
	background-color: #f22572;
}

.page-item-card {
	.order-page-form {
	    position: relative;
	    width: 125px;
	    height: 25px;
	    line-height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
	.order-page-form .order-input-box_result {
	    position: relative;
	    text-align: right;
	    margin-left: 35px;
	}
	.page-item-card .card-popular input.qty {
		min-width: 41.44px;
  		height: 19.44px;
		border-width: 1.28px;
		border-color: rgb(228, 228, 228);
		border-style: solid;
		border-radius: 8px;
		background-color: rgb(255, 255, 255);
	}
	.card-order span {
		margin-bottom: 10px;
	}
	.old-price {
		position: relative;
	}
	.card-old-price, .card-order {
		text-align: right;
	}
	.card-old-price span {
		padding: 3px 8px;
		color: #fff;
		border-radius: 3px;
		background-color: rgb(236, 36, 56);
		text-decoration: line-through;
	}
	.card-old-price {
		margin-bottom: 15px;
	}
}

.card-popular_discount {
	display: inline-block;
	border-width: 1px;
	border-color: rgb(236, 36, 56);
	border-style: solid;
	border-radius: 4px;
	padding: 3px 10px;
	margin-bottom: 30px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #212121;
    background-color: #fff;
    border-color: none;
    border-bottom: 1px solid #212121;
}
.nav-tabs {
	border-bottom: 0;
	margin-bottom: 55px;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs .nav-item {
    margin-bottom: 0;
}
.of_stock {
	text-align: right;
	span {
		font-weight: 400;
		font-size: 22px;
		color: #212121;
		margin-bottom: 5px;
	}
	button.btn.btn-stock {
		background: transparent;
		border-bottom: 1px solid #212121;
		font-weight: 300;
		font-size: 12px;
		margin-bottom: 15px;

		&:hover {
			color: $red;
			border-bottom: 1px solid $red;
		}
	}
}

@media (max-width: 992px) {
	.item-card-slider {
		margin-bottom: 20px;
	}
	.card-popular-like {
		margin-bottom: 20px;
	}
}



