header.header
	div.top-header
		div.container
			div.row.top-header_flex-end.justify-content-between
				div.col-lg-2.col-md-12
					a.logo-link(href="index.html")
						img(src="static/images/general/logo.png", alt="pic")
				div.col-lg-7.mob-d-none
					div.row
						div.col-md-4.contacts
							p.color-light-gray Бесплатный звонок по России
							a.contacts__phone(href="tel:+78007007380") 8 800 700-73-80
						div.col-md-6.contacts
							p.contacts__day.color-light-gray Пн-Пт: с 10.00-19.00
							div.contacts-city
								a(href="tel:+78007007380")
									span.contacts-city__name.color-light-gray Спб
									span 8 800 700-73-80
								a(href="tel:+78007007380")
									span.contacts-city__name.color-light-gray Мск
									span 8 800 700-73-80
					form.search-form
						div.search-form__wrapp-input
							input(type="search")
							button.btn.btn-search Найти
				div.col-lg-3.col-md-5
					div.user-wrap
						div.card-box
							a(href="") 
								span В корзине:
								span.card-box-desc 33 шт.
							a(href="") 
								span На сумму:
								span.card-box-desc 2 990 р
						div.user-cab
							a(href="#").favorites
								span.favorites__num 8
								span.favorites__name Избранное
							div.user-enter-wrap
								a(href="#").user-enter Вход / 
								a(href="#").user-enter Регистрация
	div.bottom-header
		div.container
			div.row.justify-content-between.align-items-center.flex-nowrap
				div.logo-box-mob
					a.logo-link(href="index.html")
						img(src="static/images/general/logo-color.png", alt="pic")
				nav.nav
					div#nav-icon.header-burger-menu.menu-gamburger
						span
						span
						span
						span
					ul.nav-list.page-nav-mob
						li.nav-list__item.active
							a.nav-list__link(href="#") Главная
						li.nav-list__item
							a.nav-list__link(href="#") Блог
						li.nav-list__item
							a.nav-list__link(href="#") Доставка
						li.nav-list__item
							a.nav-list__link(href="#") Как купить
						li.nav-list__item
							a.nav-list__link(href="#") Акции
						li.nav-list__item
							a.nav-list__link(href="#") Скидки
						li.nav-list__item
							a.nav-list__link(href="#") Мастер к	лассы
						li.nav-list__item
							a.nav-list__link(href="#") Партнерство
						li.nav-list__item
							a.nav-list__link(href="#") Faq
						li.nav-list__item
							a.nav-list__link(href="#") Контакты
				div.card-box.card-box-mob
					a(href="") 
						span 33 шт.
					a(href="") 
						span 2 990 р

