main.main.col-lg-9.col-md-12
	h1.title.title_inner Uno Lux, Гель-лак №100 Singapore — «Сингапур» коллекции Megapolis
	form.inner-card.row
		.col-lg-6
			.row
				.col-lg-7
					.item-card-slider
						.slider.slider-for
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")

						.slider.slider-nav
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
				.col-lg-5
					.item-card-content
						p.card-desc
							span.card-desc__name Производитель:
							span.card-desc__desc США
						p.card-desc
							span.card-desc__name Эффект:
							span.card-desc__desc Без эффекта
					.item-card-content.item-card-radio-wrapp
						.item-card-radio
							input#fixed-input_1(type="radio", name="card", checked)
							label(for="fixed-input_1")
								span 946 мл.
								span 1350р
						.item-card-radio
							input#fixed-input_2(type="radio", name="card")
							label(for="fixed-input_2")
								span 473 мл.
								span 790р
						.item-card-radio
							input#fixed-input_3(type="radio", name="card")
							label(for="fixed-input_3")
								span 170 мл.
								span 490р
						.item-card-content.item-card-stars
							.star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
							span Отзывы 15





















