main.main.page-item-card.col-lg-9.col-md-12
	h1.title.title_inner Uno Lux, Гель-лак №100 Singapore — &laquo;Сингапур&raquo; коллекции Megapolis
	form.row
		.col-lg-7.col-md-12
			.row
				.col-lg-6.col-md-6
					.item-card-slider
						#slider.flexslider
							ul.slides
								li
									a.example-image-link(href="static/images/content/gross.png", data-lightbox="product-lightbox", data-title="My caption")
										img.example-image(src="static/images/content/gross_max.png", alt="pic")
								li
									a.example-image-link(href="static/images/content/gross.png", data-lightbox="product-lightbox", data-title="My caption")
										img.example-image(src="static/images/content/gross_max.png", alt="pic")
								li
									a.example-image-link(href="static/images/content/gross.png", data-lightbox="product-lightbox", data-title="My caption")
										img.example-image(src="static/images/content/gross_max.png", alt="pic")
								li
									a.example-image-link(href="static/images/content/gross.png", data-lightbox="product-lightbox", data-title="My caption")
										img.example-image(src="static/images/content/gross_max.png", alt="pic")
						#carousel.flexslider
							ul.slides
								li
									img(src="static/images/content/gross_min.png", alt="pic")
								li
									img(src="static/images/content/gross_min.png", alt="pic")
								li
									img(src="static/images/content/gross_min.png", alt="pic")
								li
									img(src="static/images/content/gross_min.png", alt="pic")
				.col-lg-6.col-md-6
					.item-card-content
						p.card-desc
							span.card-desc__name Производитель:
							span.card-desc__desc США
						p.card-desc
							span.card-desc__name Эффект:
							span.card-desc__desc Без эффекта
					.item-card-content.item-card-radio-wrapp
						.item-card-radio
							input#fixed-input_1(type="radio", name="card", checked)
							label(for="fixed-input_1")
								span 946 мл.
								span 1350 &#8381;
						.item-card-radio
							input#fixed-input_2(type="radio", name="card")
							label(for="fixed-input_2")
								span 473 мл.
								span 790 &#8381;
						.item-card-radio
							input#fixed-input_3(type="radio", name="card")
							label(for="fixed-input_3")
								span 170 мл.
								span 490 &#8381;
						.item-card-content.item-card-stars
							.star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
							a(href="#") Отзывы 15
					.card-content
						.inner-card-content
							p Tempor incididunt ut labore D SAJOD sdajj SAdjda anaas] 
							p tempor incididunt ut labore  et dolore magna aliqua ak kas. 
							p tempor incididunt ut labore  et dolore magna aliqua ak kas. Labore etels dosal df  dol dfds sdee le waskq orelepra asdaad D SAJOD sdajj SAdjda anaas] adadau eoon wqox nxwii aske. roxk zdz’ vzdjwi oejki sdv qw xv,ri ergubn fkcceo gjwei vsji».
						a(href="#") Полный отзыв
			.card-list-wrapp
				nav
					#nav-tab.card-list.nav.nav-tabs(role='tablist')
						a#nav-1-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-1', role='tab', aria-controls='nav-1', aria-selected='true') О товаре
						a#nav-2-tab.nav-item.nav-link(data-toggle='tab', href='#nav-2', role='tab', aria-controls='nav-2', aria-selected='false') Наличие и доставка
						a#nav-3-tab.nav-item.nav-link(data-toggle='tab', href='#nav-3', role='tab', aria-controls='nav-3', aria-selected='false') Отзывы 38
						a#nav-4-tab.nav-item.nav-link(data-toggle='tab', href='#nav-4', role='tab', aria-controls='nav-4', aria-selected='false') Вопрос-ответ
						a#nav-5-tab.nav-item.nav-link(data-toggle='tab', href='#nav-5', role='tab', aria-controls='nav-5', aria-selected='false') Видео

				#nav-tabContent.tab-content
							#nav-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-1-tab')
								h2 О товаре
								p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.
							#nav-2.tab-pane.fade(role='tabpanel', aria-labelledby='nav-2-tab')
								h2 Наличие и доставка
								p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.
							#nav-3.tab-pane.fade(role='tabpanel', aria-labelledby='nav-3-tab')
								h2 Отзывы 38
								p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.
							#nav-4.tab-pane.fade(role='tabpanel', aria-labelledby='nav-3-tab')
								h2 Вопрос-ответ
								p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.
							#nav-5.tab-pane.fade(role='tabpanel', aria-labelledby='nav-3-tab')
								h2 Видео
								p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
								p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.

		.col-lg-5.inner-card-popular
			.row
				.col-lg-6
					.card-popular_discount Выгода 200 &#8381;
					.card-popular
						.myform-box.order-page-form
							div.order-input-box.order-input-box_result
								input(type='text' name='quantity1' value='3' class='qty')
							div.order-input-box__wrapp
								div.order-input-box.order-input-box__min
									span.qtyminus(field='quantity1')
										i.fal.fa-chevron-up
								div.order-input-box.order-input-box__max
									span.qtyplus(field='quantity1')
										i.fal.fa-chevron-down
							span шт.
					.card-popular-like
						span
						button.btn.btn-card-like(type="submit") Добавить в избранное
				.col-lg-6.old-price
					.card-old-price
						span 850 &#8381;
					.card-order
						span 490 &#8381;
						button.btn.btn-order(type="button") Купить
			.row
				.col-lg-12
					.pickup-address
						p Самовывоз в
							span 6 магазинах
						h3 Санкт-Петербург
						ul
							li
								a(href="") ТЦ "Нарва" Ленинский пр-т.
								span 4 шт.
							li
								a(href="") ТЦ "Миллер" Комендантский пр-т.
								span 20 шт.
							li
								a(href="") ТРК "Балканский" Купчино
								span 300 шт.
							li
								a(href="") ТЦ "Заневский каскад" Ладожская
								span 8 шт.
						h3 Москва
						ul
							li
								a(href="") БЦ "Нижегородский" 
								span 0 шт.
							li
								a(href="") ТРК "Принц Плаза"
								span 30 шт.
						h3 Доставка курьером
						div.pickup-address__data
							span 18.08.2018 г.
							span 300 р.
						h3 Доставка по России
						ul
							li
								a(href="") Почта Росии
								span от 200 р
							li
								a(href="") СДЭК
								span от 400 р
						div.pickup-address__pay
							h3 Оплата
							ul
								li
									a(href="")
										span Наличные
										i.far.fa-money-bill
								li
									a(href="")
										span Безналичная оплата	
										i.far.fa-credit-card
								li
									a(href="") 
										span Электронные деньги
										i.far.fa-money-bill
								li
									a(href="")
										span Оплата с мобильного
										i.fas.fa-mobile-alt
								li
									a(href="")
										span Терминалы оплаты
										i.far.fa-mobile-android-alt
								li
									a(href="")
										span Бонусная программа Антураж
										i.fas.fa-gift
	.row
		.col-md-12
			.item-card-carousel-wrapp
				h3 К этому товару подойдут
				.item-card-carousel
					.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
						.recently-watched-have
							span В наличии
					.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
						.recently-watched-have
							span В наличии
					.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
						.recently-watched-have
							span В наличии
					.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
						.recently-watched-have
							span В наличии
					.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
						.recently-watched-have
							span В наличии








