main.main.page-item-card.col-lg-9.col-md-12
	h1.title.title_inner Uno Lux, Гель-лак №100 Singapore — «Сингапур» коллекции Megapolis
	form.row
		.col-lg-6.inner-card
			.row
				.col-lg-6
					.item-card-slider
						.slider.slider-for
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")
							div.slider-for__item
								img(src="static/images/content/gross_max.png", alt="pic")

						.slider.slider-nav
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
							div.slider-nav__item
								img(src="static/images/content/gross_min.png", alt="pic")
				.col-lg-6
					.item-card-content
						p.card-desc
							span.card-desc__name Производитель:
							span.card-desc__desc США
						p.card-desc
							span.card-desc__name Эффект:
							span.card-desc__desc Без эффекта
					.item-card-content.item-card-radio-wrapp
						.item-card-radio
							input#fixed-input_1(type="radio", name="card", checked)
							label(for="fixed-input_1")
								span 946 мл.
								span 1350р
						.item-card-radio
							input#fixed-input_2(type="radio", name="card")
							label(for="fixed-input_2")
								span 473 мл.
								span 790р
						.item-card-radio
							input#fixed-input_3(type="radio", name="card")
							label(for="fixed-input_3")
								span 170 мл.
								span 490р
						.item-card-content.item-card-stars
							.star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
								.star__item
									i.fas.fa-star
							a(href="#") Отзывы 15
					.card-content
						.inner-card-content
							p Tempor incididunt ut labore D SAJOD sdajj SAdjda anaas] 
							p tempor incididunt ut labore  et dolore magna aliqua ak kas. 
							p tempor incididunt ut labore  et dolore magna aliqua ak kas. Labore etels dosal df  dol dfds sdee le waskq orelepra asdaad D SAJOD sdajj SAdjda anaas] adadau eoon wqox nxwii aske. roxk zdz’ vzdjwi oejki sdv qw xv,ri ergubn fkcceo gjwei vsji».
						a(href="#") Полный отзыв
		.col-lg-6.inner-card-popular
			.row
				.col-lg-6
					.card-popular
						input(type="number" value="1" min="1")
						span шт.
					.card-popular-like
						span
						button.btn.btn-card-like(type="submit") Добавить в избранное
				.col-lg-6
					.card-order
						span 490р
						button.btn.btn-order(type="button") Купить
	.row
		.col-lg-6.card-list-wrapp
			ul.card-list
				li.card-list__item
					a(href="").card-list__link О товаре
				li.card-list__item
					a(href="").card-list__link Наличие и доставка
				li.card-list__item
					a(href="").card-list__link Отзывы 38
				li.card-list__item
					a(href="").card-list__link Вопрос-ответ
				li.card-list__item
					a(href="").card-list__link Видео
			h2 Наличие и доставка
			p Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			p Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
			p Ged ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt dlearo explicabo. consequuntur magni dolores eos.


















