main.main.col-lg-12.col-md-12
	.row
		.col-md-3.menu-left
			ul
				li.item-title Гель-лаки
				li
					a(href="") Базы, топы, праймеры <span>(24)</span>
				li
					a(href="") Цветные гель-лаки "UNO"  <span>(247)</span>
				li
					a(href="") Термо гель-лаки "UNO" <span>(32)</span>
				li
					a(href="") Гель-лаки UNO "Кошачий глаз" <span>(53)</span>
				li
					a(href="") Цветные гель-лаки "Uno Lux" <span>(105)</span>
				li
					a(href="") Цветные гель-лаки "Perfect Match"  <span>(24)</span>
				li
					a(href="") Термо гель-лаки "LeChat" <span>(8)</span>
				li
					a(href="") Стойкий лак с эффектом геля "Nina Ultra Pro" <span>(63)</span>
				li
					a(href="") Биогели "Nobility" <span>(7)</span>
				li
					a(href="") Материалы для гель-лака <span>(24)</span>
		.col-md-9
			.form-inner-wrapp
				form
					.form-inner__item
						span.form-inner-title Основные цвета
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#white
							label(for="white") Белый
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#gray
							label(for="gray") Серые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#black
							label(for="black") Черные
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#brown
							label(for="brown") Коричневые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#red
							label(for="red") Красные
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#orange
							label(for="orange") Оранжевые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#yellow
							label(for="yellow") Желтые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#ollie
							label(for="ollie") Оливковые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#green
							label(for="green") Зеленые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#light-blue
							label(for="light-blue") Голубые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#blue
							label(for="blue") Синие
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#purple
							label(for="purple") Фиолетовые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#pink
							label(for="pink") Розовые

					.form-inner__item.form-inner__item_checkbox-no
						span.form-inner-title Эффект
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i1
							label(for="i1") Витражный
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i2
							label(for="i2") С блестками
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i3
							label(for="i3") С мерцанием
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i4
							label(for="i4") Перламутровый
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i5
							label(for="i5") Голография
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i3
							label(for="i3") Прозрачный
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i4
							label(for="i4") Неон
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i5
							label(for="i5") Мрамор
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i5
							label(for="i5") Без эффекта

					.form-inner__item.form-inner__item_checkbox-no
						span.form-inner-title Коллекция
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i6
							label(for="i6") Кристалл
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i7
							label(for="i7") Карнавал
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i8
							label(for="i8") Летняя прохлада
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i9
							label(for="i9") Лимитированная
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i10
							label(for="i10") Мрамор
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i11
							label(for="i11") Мулен Руж
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i12
							label(for="i12") Цветные сны
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i13
							label(for="i13") Френч
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#i14
							label(for="i14") Цветные

					.form-inner__item
						span.form-inner-title Оттенки
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#pearl
							label(for="pearl") Жемчужные
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#gold
							label(for="gold") Золотые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#neon
							label(for="neon") Неоновые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#bedding
							label(for="bedding") Пастельные
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#silver
							label(for="silver") Серебряные
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#no-color
							label(for="no-color") Без оттенка
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#platinum
							label(for="platinum") Платиновые
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#cuprum
							label(for="cuprum") Медные

					.form-inner__item
						span.form-inner-title Тон
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#light
							label(for="light") Светлый
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#medium
							label(for="medium") Средний
						.form-inner__checkbox.form-inner__checkbox-icon
							input(type="checkbox")#dark
							label(for="dark") Темный
					.row
						.col-md-12.df-end
							button(type='reset').btn.btn-inner Сбросить
							button(type='submit').btn.btn-inner.btn-inner_red Показать
	.row.page-item-card
		.col-md-3.item-card-carousel__item
			.item-card-carousel__hit
				span Хит!
			h4 UNO, Гель-краска №015 Red — «Красная»
			.card-carousel-pic
				.card-carousel-pic_first
					img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
					img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
				.card-carousel-pic_inner
					img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
					img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
			.card-carousel__desc
				p Плотная гель-краска красного цвета. 
				p Имеет дисперсионный слой.  5мл.
			.card-carousel__price
				span 390 &#8381;
			.recently-watched__order
				.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Купить
				button(type="submit").btn.btn-like
					span
			.recently-watched-have
				span В наличии					
		.col-md-3.item-card-carousel__item
			.item-card-carousel__hit
				span Хит!
			h4 UNO, Гель-краска №015 Red — «Красная»
			.card-carousel-pic
				.card-carousel-pic_first
					img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
					img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
				.card-carousel-pic_inner
					img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
					img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
			.card-carousel__desc
				p Плотная гель-краска красного цвета. 
				p Имеет дисперсионный слой.  5мл.
			.card-carousel__price
				span 390 &#8381;
			.recently-watched__order
				.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Купить
				button(type="submit").btn.btn-like
					span
			.recently-watched-have
				span В наличии
		.col-md-3.item-card-carousel__item
			.item-card-carousel__hit
				span Хит!
			h4 UNO, Гель-краска №015 Red — «Красная»
			.card-carousel-pic
				.card-carousel-pic_first
					img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
					img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
				.card-carousel-pic_inner
					img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
					img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
			.card-carousel__desc
				p Плотная гель-краска красного цвета. 
				p Имеет дисперсионный слой.  5мл.
			.card-carousel__price
				span 390 &#8381;
			.recently-watched__order
				.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Купить
				button(type="submit").btn.btn-like
					span
			.recently-watched-have
				span В наличии
		.col-md-3.item-card-carousel__item
			.item-card-carousel__hit
				span Хит!
			h4 UNO, Гель-краска №015 Red — «Красная»
			.card-carousel-pic
				.card-carousel-pic_first
					img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
					img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
				.card-carousel-pic_inner
					img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
					img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
			.card-carousel__desc
				p Плотная гель-краска красного цвета. 
				p Имеет дисперсионный слой.  5мл.
			.card-carousel__price
				span 390 &#8381;
			.recently-watched__order
				.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Купить
				button(type="submit").btn.btn-like
					span
			.recently-watched-have
				span В наличии
	nav(aria-label="Page navigation example")
		ul.pagination
			li.page-item.disabled
				a.page-link(href="")
					span(aria-hidden="true") &laquo;
			li.page-item.active
				a.page-link(href="") 1
			li.page-item
				a.page-link(href="") 2
			li.page-item
				a.page-link(href="") 3
			li.page-item
				a.page-link(href="") 4
			li.page-item
				a.page-link(href="") 5
			li.page-item
				a.page-link(href="") 6
			li.page-item
				a.page-link(href="") 7
			li.page-item
				a.page-link(href="") 8
			li.page-item
				a.page-link(href="") 9
			li.page-item
				a.page-link(href="") 10
			li.page-item
				a.page-link(href="")
					span(aria-hidden="true") &raquo;
