footer {
	padding: 50px 0;
}
.footer__title {
	font-weight: 600;
}
.footer-list-wrap {
	display: flex;
}
.footer-list_50w {
	width: 50%;
}
.footer-list {
	padding-top: 30px;
}
.footer-list__link span {
	display: block;
	margin: 0;
	text-align: right;
}
.footer-list__item .footer-list__link.color-red {
	font-size: 12px;
	font-weight: 600;
}
.footer-list__item {
	margin: 0 0 15px 0;
}

.footer__item_text-right {
	text-align: right;
}




.footer-list_socials {
	display: flex;
	justify-content: center;
	text-align: center;
	.footer-list__item {
		margin-left: 7px;
	}
}
.footer-logo {
	padding: 0 30px;
	text-align: center;
	img {
		padding-bottom: 10px;
	}
}
@media (max-width: 992px) { 
	footer {
		padding: 20px 0;
	}
	.footer__item_text-center_mob {
		text-align: center;
	}
	.footer-list__link span {
		display: block;
		text-align: center;
	}
}

