// top-header 
.top-header {
	padding: 30px 0 0 0;
}
.logo-link {
	display: block;
}

.contacts {
	font-size: 12px;
}
.contacts-city {
	display: flex;
	justify-content: space-between;
}
.contacts-city__name {
	margin-right: 10px;
}

.contacts__phone {
	color: $red;
	font-size: 14px;
	font-weight: 600;
}
.contacts__day {
	text-align: center;
}

// top-header search form
.search-form {
	margin-top: 15px;
}
.search-form__wrapp-input {
	position: relative;
	width: 100%;
	input {
		width: 100%;
		height: 25px;
		border: 1px solid rgb(194, 194, 194);
		border-radius: 6px;
	}
}

.btn-search {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  right: 0;
  width: 62px;
  height: 100%;
  border-radius: 6px;
  background-color: rgb(236, 36, 56);
  color: $white;
}

// top-header card 
.user-wrap {
	text-align: right;
}
.card-box {
	position: relative;
	margin-bottom: 15px;
	padding-left: 28px;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 100%;
		background: url('../images/icons/card.png') no-repeat;
		background-position-y: 50%;
	}
	span {
		padding-left: 7px;
		color: $red;
	}
	a {
		display: block;
	}
}

.card-box {
	display: inline-block;
}
.user-cab {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.favorites {
	position: relative;
	padding-left: 20px;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 14px;
		height: 100%;
		background: url('../images/icons/heart.png') no-repeat;
		background-position-y: 50%;
	}
	.favorites__name {
		padding-left: 10px;
	}
}
.top-header_flex-end {
	align-items: flex-end;
}
// header menu
.nav {
	width: 100%;
	text-align: center;
	.nav-list {
		width: 100%;
		// display: flex;
		// justify-content: space-around;
		&__link {
			display: block;
			padding: 15px;
			text-transform: uppercase;
			&:hover {
				color: $light-red;
			}
		}
		.nav-list__item {
			display: inline-block;
			vertical-align: middle;
			// margin: 0 0 0 10px;
		}
	}
}
.nav-list__item.active .nav-list__link {
	color: $red;
}
ul.nav-list {
	margin-bottom: 0;
}
.bottom-header {
	padding: 25px 0;
	transition: all .3s;
}
.bottom-header_fixed {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0.469px 2.963px 4px 0px rgba(28, 28, 28, 0.18);
	background: $white;
	z-index: 3;
	padding: 0;
	.logo-box-mob {
		display: block;
	}
	.card-box-mob {
		display: block;
	}
}
.logo-box-mob {
	display: none;
}
.card-box-mob {
	display: none;
	margin-bottom: 0;
}
#nav-icon {
    width: 32px;
    height: 25px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon:hover span {
    background: $red;
}
#nav-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
#nav-icon span:nth-child(2) {
    top: 7px;
    transform-origin: left center;
}
#nav-icon span:nth-child(3) {
    top: 14px;
    transform-origin: left center;
}
#nav-icon span:nth-child(4) {
    top: 21px;
    transform-origin: left center;
}
.header-burger-menu {
	display: none;
}
#nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 0;
}
#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 0;
}
#nav-icon.open span:nth-child(4) {
    width: 0%;
    opacity: 0;
}
// .page-nav-mob {
//     width: 100%;
//     background: #fff;
//     // position: fixed;
//     // top: 139px;
//     // left: 0;
//     // right: 0;
//     transition: all .3s ease;
//     display: none;
//     // z-index: 100;
// }
// .page-nav {
//     height: 475px;
//     overflow-y: scroll;
//     padding: 45px 15px;
// }

// .bottom-header_fixed .nav {
// 	text-align: center;
// }
// .card-box_fixed {
// 	position: fixed;
// 	top: 15px;
// 	right: 2%;
// 	z-index: 4;
// 	margin-bottom: 0;
// 	text-align: left;
// 	span.card-box-desc {
// 		display: none;
// 	}
// }
// .logo-link_fixed {
// 	position: fixed;
// 	top: 15px;
// 	left: 2%;
// 	z-index: 4;
// }
@media (max-width: 1024px) {
	.page-nav-mob {
		display: none;
	}

	.page-nav-mob_show {
	    display: block;
	}
	.header-burger-menu {
	    display: block;
	}
	// .mob-d-none {
	// 	display: none;
	// }
}


