.sidebar {
	padding: 15px;
	// position: absolute;
	// top: 0;
	// left: 0;
	width: 300px;
	.nav-tabs {
	    border-bottom: none;
	}
	.nav-tabs .nav-item {
	    margin-bottom: 0;
	    position: relative;
	    &:first-child:before {
	    	content: "";
	    	position: absolute;
	    	top: 50%;
	    	right: 0;
	    	width: 1px;
	    	height: 10px;
	    	background: $base-color-font;
	    	transform: translateY(-50%) rotate(15deg);
	    }
	}
	.nav {
		padding-left: 67px;
		padding-bottom: 0;
	}
	.nav-tabs .nav-link {
	    border: none;
	    // padding: 0;
	    text-transform: uppercase;
	}
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background: transparent;
}

/* -------------------------------- 

Main Components Menu Sidebar

-------------------------------- */
.cd-accordion-menu {
  // width: 90%;
  // max-width: 600px;
  // background: #4d5158;
  // margin: 4em auto;
  // box-shadow: 0 4px 40px #70ac76;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  // position: relative;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  // position: relative;
  display: block;
  padding: 5px 0 5px 40px;
}
.cd-accordion-menu a {
	position: relative;
	display: flex;
	align-items: center;
}
.switches-icon-svg {
	position: absolute;
	right: 0;
	width: 11px;
	height: 100%;
    display: flex;
    align-items: center;
}

svg.switches-icon-svg_down {
	transform: rotate(90deg);
}
// .no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
//   background: #52565d;
// }
// .cd-accordion-menu label::before {
//   /* icons */
//   content: '';
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
// }
.cd-accordion-menu label {
  cursor: pointer;
}
// .cd-accordion-menu label::before {
//   background-image: url("../images/icons/cd-icons.svg");
//   background-repeat: no-repeat;
// }
// .cd-accordion-menu label::before {
//   /* arrow icon */
//   // left: 18px;
//   background-position: 0 0;
//   transform: translateY(-50%) rotate(-90deg);
// }

// .cd-accordion-menu input[type=checkbox]:checked + label::before {
//   /* rotate arrow */
//   transform: translateY(-50%);
// }

// .cd-accordion-menu input[type=checkbox]:checked + label + ul,
// .cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
//   /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
//   /* show children when item is checked */
//   display: block;
// }
// .cd-accordion-menu ul label,
// .cd-accordion-menu ul a {
//   background: #35383d;
//   box-shadow: inset 0 -1px #41444a;
//   padding-left: 82px;
// }
// .no-touch .cd-accordion-menu ul label:hover, .no-touch
// .cd-accordion-menu ul a:hover {
//   background: #3c3f45;
// }
// .cd-accordion-menu > li:last-of-type > label,
// .cd-accordion-menu > li:last-of-type > a,
// .cd-accordion-menu > li > ul > li:last-of-type label,
// .cd-accordion-menu > li > ul > li:last-of-type a {
//   box-shadow: none;
// }
// .cd-accordion-menu ul label::before {
//   left: 36px;
// }

// .cd-accordion-menu ul ul label,
// .cd-accordion-menu ul ul a {
//   padding-left: 100px;
// }
// .cd-accordion-menu ul ul label::before {
//   left: 54px;
// }

// .cd-accordion-menu ul ul ul label,
// .cd-accordion-menu ul ul ul a {
//   padding-left: 118px;
// }
// .cd-accordion-menu ul ul ul label::before {
//   left: 72px;
// }

// @media only screen and (min-width: 600px) {
//   .cd-accordion-menu label, .cd-accordion-menu a {
//     padding: 24px 24px 24px 82px;
//     font-size: 1.9rem;
//   }
//   .cd-accordion-menu label::before {
//     left: 24px;
//   }
//   .cd-accordion-menu label::after {
//     left: 53px;
//   }
//   .cd-accordion-menu ul label,
//   .cd-accordion-menu ul a {
//     padding-left: 106px;
//   }
//   .cd-accordion-menu ul label::before {
//     left: 48px;
//   }

//   .cd-accordion-menu ul ul label,
//   .cd-accordion-menu ul ul a {
//     padding-left: 130px;
//   }
//   .cd-accordion-menu ul ul label::before {
//     left: 72px;
//   }

//   .cd-accordion-menu ul ul ul label,
//   .cd-accordion-menu ul ul ul a {
//     padding-left: 154px;
//   }
//   .cd-accordion-menu ul ul ul label::before {
//     left: 96px;
//   }
// }
// .cd-accordion-menu.animated label::before {
//   /* this class is used if you're using jquery to animate the accordion */
//   transition: transform 0.3s;
// }


















