.sidebar {
	width: 300px;
	padding: 15px;
	.tabs {
		margin-bottom: 10px;
	}
	.tab {
		position: relative;
		padding: 10px;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.sidebar__switches {
	position: relative;
}

.tab.tab-active {
	color: $red;
}
.tab:first-child {
	position: relative;
	padding-left: 35px;
}
.tab:first-child:before {
		content: "";
		position: absolute;
		top: 13px;
		left: 0;
		width: 11px;
		height: 11px;
		background-image: url('../images/icons/spritesheet.png');
		background-repeat: no-repeat;
    	background-position: -115px -122px;
	}
.tab:first-child:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background: $base-color-font;
	transform: translateY(-50%) rotate(35deg);
}


//Accordion
.accrodion-menu .menu-list li {
	position: relative;
}
.accrodion-menu .menu-list li a {
	position: relative;
	padding: 10px 15px 10px 35px;
	display: flex;
	i {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translateY(-50%);
	}
}
.accrodion-menu .menu-list__link.active .menu-list__link_svg-ico {
	top: 0;
	transform: rotate(90deg) translateY(0);
}
.menu-list__link_svg-ico {
	position: absolute;
	height: 100%;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 24px;
	color: $base-color-font;
}
// .menu-list__link:first-child:before {
//     content: '';
//     height: 11px;
//     width: 11px;
//     display: block;
//     border: 1px solid $base-color-font;
//     border-right-width: 0;
//     border-top-width: 0;
//     transform: rotate(230deg);
//     position: absolute;
//     right: 0;
//     top: 11px;
// }
.accrodion-menu .menu-list li ul li a i:first-child:before {
	display: none;
}
.accrodion-menu .menu-list .sub-menu {
	display: none;
	&_show-on {
		display: block;
	}
}
.hover-sub-menu {
	opacity: 0;
    visibility: hidden;
  	width: 310px;
  	min-height: 300px;
  	padding: 30px 0;
  	overflow-y: scroll;
    position: absolute;
    top: 0;
    right: -300px;
    background: #fff;
    box-shadow: 3px 0px 4px 0px rgba(28, 28, 28, 0.21);
    border-radius: 6px;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.accrodion-menu .menu-list .sub-menu li:hover .hover-sub-menu {
	opacity: 1;
	visibility: visible;
}
// .sidebar-toggle {
//   margin-left: -300px;
// }
// .sidebar {
//   height: 100%;
//   transition: all .3s ease-in-out;

//   #leftside-navigation {
//     ul, ul ul {
//       margin: -2px 0 0;
//       padding: 0;
//     }
//     ul {
//       li {
//         list-style-type: none;
//         // border-bottom: 1px solid rgba(255,255,255,.05);
//         &.active {
//           & > a {
//             // color: #1abc9c;
//           }
//           ul {
//             display: block;
//           }
//         }
//         a {
//           display: block;
//           padding: 10px 15px 10px 35px;
//           outline: 0;
//           transition: all 200ms ease-in;

//           span {
//             display: inline-block;
//           }
//         }
//       }
//     }
//     ul ul {
//       display: none;
//       li {
//         margin-bottom: 0;
//         margin-left: 0;
//         margin-right: 0;
//         border-bottom: none;
//         a {
//           padding-top: 13px;
//           padding-bottom: 13px;
//         }
//       }
//     }
//   }
// }

// .sidebar #leftside-navigation ul ul li {
// 	position: relative;

// }

// .hover-sub-menu {
// 	opacity: 0;
//     visibility: hidden;
//   	width: 310px;
//   	height: 300px;
//   	overflow-y: scroll;
//     position: absolute;
//     top: 0;
//     right: -300px;
//     background: #fff;
//     box-shadow: 3px 0px 4px 0px rgba(28, 28, 28, 0.21);
//     border-radius: 6px;
//     z-index: 2;
// }
// .hover-sub-menu.show-on {
// 	display: block;
// 	opacity: 1;
// 	visibility: visible;
// }
// .sidebar #leftside-navigation ul ul li:hover .hover-sub-menu {
// 	visibility: visible;
// 	opacity: 1;
// }
.hover-sub-menu::-webkit-scrollbar-track
{
	border-radius: 12px;
	background-color: transparent;
}

.hover-sub-menu::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.hover-sub-menu::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	background-color: $light-red;
}






// @media screen and (max-width: 1024px) and (min-width: 320px) { 
// 	.hover-sub-menu {
// 		opacity: 1;
// 		display: none;
// 	    visibility: visible;
// 	    overflow: visible;
// 	  	width: 100%;
// 	  	height: 300px;
// 	    position: static;
// 	    background: #fff;
// 	    box-shadow: none;
// 	    border-radius: 0;
// 	}

// }














