.sidebar {
	width: 300px;
	padding: 15px;
	.tabs {
		margin-bottom: 10px;
	}
	.tab {
		position: relative;
		padding: 10px;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.sidebar__switches {
	position: relative;
}

.tab.tab-active {
	color: $red;
}
.tab:first-child {
	position: relative;
	padding-left: 35px;
}
.tab:first-child:before {
		content: "";
		position: absolute;
		top: 13px;
		left: 0;
		width: 11px;
		height: 11px;
		background-image: url('../images/icons/spritesheet.png');
		background-repeat: no-repeat;
    	background-position: -115px -122px;
	}
.tab:first-child:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background: $base-color-font;
	transform: translateY(-50%) rotate(35deg);
}


//Accordion
.accrodion-menu .menu-list li {
	position: relative;
}
.accrodion-menu .menu-list li a {
	position: relative;
	padding: 10px 15px 10px 35px;
	display: flex;
	i {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translateY(-50%);
	}
}
.accrodion-menu .menu-list__link.active .menu-list__link_svg-ico {
	top: 0;
	transform: rotate(90deg) translateY(0);	
}
.menu-list__link_svg-ico {
	position: absolute;
	height: 100%;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 24px;
	color: $base-color-font;
}


.accrodion-menu .menu-list li ul li a i:first-child:before {
	display: none;
}
.accrodion-menu .menu-list .sub-menu {
	display: none;
	&_show-on {
		display: block;
	}
}
.hover-sub-menu {
	opacity: 0;
    visibility: hidden;
  	width: 310px;
  	min-height: 300px;
  	padding: 30px 0;
  	overflow-y: scroll;
    position: absolute;
    top: 0;
    right: -300px;
    background: #fff;
    box-shadow: 3px 0px 4px 0px rgba(28, 28, 28, 0.21);
    border-radius: 6px;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.accrodion-menu .menu-list .sub-menu li:hover .hover-sub-menu {
	opacity: 1;
	visibility: visible;
}

.hover-sub-menu::-webkit-scrollbar-track
{
	border-radius: 12px;
	background-color: transparent;
}

.hover-sub-menu::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.hover-sub-menu::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	background-color: $light-red;
}

.menu-list__link_color-red:hover {
	color: $red;
	.menu-list__link_svg-ico {
		color: $red;
	}
}
.menu-list__link_color-pink:hover {
	color: #f12899;
	.menu-list__link_svg-ico {
		color: #f12899;
	}
}
.menu-list__link_color-purple:hover {
	color: #ad3ae9;
	.menu-list__link_svg-ico {
		color: #ad3ae9;
	}
}
.menu-list__link_color-blue:hover {
	color: #329feb;
	.menu-list__link_svg-ico {
		color: #329feb;
	}
}
.menu-list__link_color-green:hover {
	color: #35b851;
	.menu-list__link_svg-ico {
		color: #35b851;
	}
}
.menu-list__link_color-yellow:hover {
	color: #f3cf27;
	.menu-list__link_svg-ico {
		color: #f3cf27;
	}
}
.menu-list__link_color-orange:hover {
	color: #f07b26;
	.menu-list__link_svg-ico {
		color: #f07b26;
	}
}
.menu-list__link_color-light-pink:hover {
	color: #ec2461;
	.menu-list__link_svg-ico {
		color: #ec2461;
	}
}
@media screen and (max-width: 1024px) and (min-width: 320px) { 
.hover-sub-menu {
	position: static;
	opacity: 1;
	visibility: visible;
	box-shadow: none;
	height: auto;
	width: 100%;
	border: none;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

}














