.subscription {
	margin-bottom: 30px;
	font-family: 'Proxima Nova Regular';
}
.subscription-content {
	position: relative;
	max-width: 260px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	text-align: center;
	background: url('../images/general/mail.png') no-repeat;
	background-position-x: 50%;
 //    background-size: cover;
	margin-bottom: 30px;
}
.subscription-content__title {
	font-size: 19px;
	font-family: 'Proxima Nova Bold';
	color: #3b3b3b;
}
.subscription-content__desc {
	width: 70%;
	margin: 0 auto;
	font-size: 12px;
	font-family: 'Proxima Nova Regular';
	color: #3b3b3b;
}

.subscription-circle {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(236, 36, 56);
  opacity: 0.99;
  box-shadow: -0.545px 2.755px 0px -1px rgba(28, 28, 28, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 23px;
  padding: 20px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.subscription-input-wrapp {
	position: relative;
	display: block;
	margin: auto;
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	width: 196px;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		background: url('../images/icons/spritesheet.png');
	    background-repeat: no-repeat;
	    width: 10px;
	    height: 10px;
	    background-position: -30px -72px;
	    transform: translateY(-50%);
	}
}
.subscription-input-wrapp input {
	height: 26px;
	padding: 5px 10px 5px 25px;
	background-color: transparent;
	border: none;
	width: 100%;
	color: #4d4d4d;
}
.subscription-input-wrapp input::placeholder {color: #4d4d4d; font-weight: 400; font-family: 'Proxima Nova Regular';}



button.btn.btn-subscription {
	color: $white;
	border-radius: 10px;
	background-color: rgb(236, 36, 56);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.09);
	min-width: 161px;
	min-height: 27px;
	display: block;
	margin: 20px auto;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		background: $light-red;
	}
}
.subscription-form-hide-block-wrapp {
	position: relative;
}
.subscription-form-hide-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	opacity: 0;
	width: 165px;
	margin: 15px auto;
	text-align: center;
	font-size: 10px;
	color: #3b3b3b;
	font-weight: 500;
	transition: all .3s;
	p {
		margin-bottom: 3px;
		span {
			border-bottom: 1px solid #3b3b3b;
		}
	}
}
.subscription-form-hide-block-wrapp:hover .subscription-form-hide-block {
	opacity: 1;
	top: 100%;
}

@media (max-width: 992px) {
	.subscription-content__desc {
		width: 43%;
	}
	// .subscription-input-wrapp, .subscription-input-wrapp input {
	// 	width: 100%;
	// }
	.subscription-form-hide-block {
		position: relative;
		opacity: 1;
		top: 100%;
	}

}








