.delivery {
	color: #212121;
	line-height: 22.26px;
	h1 {
		margin-bottom: 37px;
	}
	h2 {
		margin-bottom: 20px;
	}
}
.delivery-content {
	margin-bottom: 45px;
	a.delivery-content__link {
		position: relative;
		display: block;
		padding-left: 45px;
		padding-top: 15px;
		padding-bottom: 12px;
		font-size: 14px;
		font-weight: 300;
		i {
			position: absolute;
		    top: 50%;
		    left: 0;
		    transform: translateY(-50%);
		}
		span {
			color: $red;
			border-bottom: 1px solid $red;
		}
	}
	p {
		margin-bottom: 5px;
		span {
			color: $red;
		}
	}
}
.delivery-content__list {
	p {
		span {
			color: #212121;
			text-decoration: underline;
			line-height: 22.26px;
		}
		a {
			padding: 0;
			display: inline-block;
			color: $red;
			border-bottom: 1px solid $red;
			font-size: 12px;
			font-weight: 300;
			&:hover {
				color: $light-red;
				border-bottom: 1px solid $light-red;
			}
		}
	}
}

.delivery-content__item {
	p {
		a {
			padding: 0;
			display: inline-block;
			font-size: 12px;
			font-weight: 300;
			// color: $red;
			// border-bottom: 1px solid $red;
			&:hover span {
				color: $light-red;
				border-bottom: 1px solid $light-red;
			}
			span {
				border-bottom: 1px solid $red;
				transition: all .3s;
			}	
		}
	}
}

