main.main.delivery.col-lg-9.col-md-12
	h1.title Доставка
	h2.sub-title Доставка и самовывоз по Санкт-Петербургу
	.delivery-content
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery1
				span Самовывоз
			p Самовывоз в Санкт-Петербурге <span>в день заказа — Бесплатно.</span>
			p Вы можете забрать свой заказ в одном из пунктов самовывоза в день заказа при наличии товаров. 
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery2
				span Доставка
			p Доставим по Санкт-Петербургу <span>уже сегодня — 300 руб. </span>
			p Мы доставим Ваш заказ уже сегодня, если товар есть на складе и заказ размещен до 15:00. 
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery3
				span Бесплатная доставка
			p При заказе <span>от 5000 рублей</span> доставка по Санкт-Петербургу <span>— Бесплатно.</span>
			p Мы доставим Ваш заказ бесплатно, если сумма заказа больше 5000 рублей.
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery4
				span Доставка в пригороды Санкт-Петербурга
			p Доставка в <span>пригороды Санкт-Петербурга - 350 руб.</span>
			p Наш курьер доставляет заказы по пригородам Санкт-Петербурга в течение 1-3 дней.
			.delivery-content__list
				p Список населенных пунктов: 
					span Сестрорецк, 
					span Кронштадт, 
					span Ломоносов, 
					span Петродворец, 
					span Красное Село, <br/>
					span Пушкин, 
					span Колпино, 
					span Павловск, 
					span Всеволожск,
					span Сертолово.

	h2.sub-title Доставка и самовывоз по Москве
	.delivery-content
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery1
				span Самовывоз
			p Самовывоз в Москве <span>в день заказа — Бесплатно.</span>
			p Вы можете забрать свой заказ в одном из пунктов самовывоза в день заказа при наличии товаров. 
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery2
				span Доставка
			p Доставим по Москве <span>уже сегодня — 300 руб. </span>
			p Мы доставим Ваш заказ уже сегодня, если товар есть на складе и заказ размещен до 15:00. 
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery3
				span Бесплатная доставка
			p При заказе <span>от 5000 рублей</span> доставка по Москве <span>— Бесплатно.</span>
			p Мы доставим Ваш заказ бесплатно, если сумма заказа больше 5000 рублей.
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery5
				span Доставка по Московской области
			p Доставим по Московской области <span>уже сегодня — 300 руб. </span>
			p Наша курьерская служба доставляет заказы по пригородам Москвы в течение 2-3 дней.
	h2.sub-title Доставка по России
	.delivery-content
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery6
				span Доставка курьерскими службами «СДЭК», «Почта России»
			p Курьерская доставка по России службами: «СДЭК», «Почта России» и др.
			p Доставка по России осуществляется курьерскими службами и транспортными компаниями. Стоимость и сроки доставки рассчитываются автоматически при оформлении заказа на сайте.
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery7
				span Самовывоз из пункта выдачи заказов «СДЭК»
			p Стоимость доставки из Москвы и Санкт-Петербурга до пунктов выдачи заказов зависит от места назначения.
			.delivery-content__list
				p Список городов, в которых есть пункты самовывоза «СДЭК»: 
					span Санкт-Петербург, 
					span Москва, 
					span Абакан, <br/>
					span Александров, 
					span Альметьевск, 
					span Алушта, Ангарск, 
					span Армавир, 
					span Артем, 
					span Архангельск, 
					span Балаково, 
					span Балахна, <br/>
					span Балашиха, 
					span Барнаул, 
					span Белгород, 
					span Бердск, 
					span Березники, 
					span Бийск, 
					span Благовещенск, 
					span Большой Камень, 
					span Боровичи, <br/>
					span Братск, 
					span Брянск, 
					span Великий Новгород, 
					span Великие Луки, 
					span Видное, 
					span Владивосток, 
					span Владикавказ, 
					span Владимир, <br/>
					span Волгоград, 
					span Волгодонск, 
					span Волжский, 
					span Воронеж, 
					span Вологда, 
					span Георгиевск, 
					span Горно-Алтайск, 
					span Грозный, 
					span Дзержинск, <br/>
					span Димитровград, 
					span Долгопрудный, 
					span Дубна, 
					span Московская обл., 
					span Евпатория, 
					span Екатеринбург, 
					span Ессентуки, <br/>
					span Забайкальск, 
					span Златоуст, 
					span Иваново, 
					span Ижевск, 
					span Иркутск, 
					span Истра, 
					span Йошкар-Ола, 
					span Казань, 
					span Калининград, 
					span Калуга, <br/>
					span Кемерово, 
					span Киров, 
					span Кировская обл., 
					span Керчь, 
					span Киселевск, 
					span Кисловодск, 
					span Клин, 
					span Коломна, <br/>
					span Комсомольск-на-Амуре, 
					span Кострома, 
					span Красногорск, 
					span Краснодар, 
					span Красноярск, 
					span Кстово, 
					span Курган, 
					span Курск, <br/>
					span Липецк, 
					span Люберцы, 
					span Магадан, Магнитогорск, 
					span Междуреченск, 
					span Миасс, 
					span Минеральные Воды, 
					span Мурманск, <br/>
					span Набережные Челны, 
					span Надым, Нальчик, 
					span Наро-Фоминск, 
					span Нарьян-Мар, 
					span Находка, 
					span Нефтекамск, <br/>
					span Нижневартовск, 
					span Нижнекамск, 
					span Нижний Новгород, 
					span Нижний Тагил, 
					span Новокузнецк, 
					span Новороссийск, <br/>
					span Новочеркасск, 
					span Новый Уренгой, 
					span Норильск, 
					span Обнинск, 
					span Одинцово, 
					span Омск, 
					span Орел, 
					span Оренбург, 
					span Орехово-Зуево, <br/>
					span Орск, 
					span Пенза, 
					span Пермь, 
					span Петрозаводск, 
					span Петропавловск-Камчатский, 
					span Подольск, 
					span Псков, 
					span Прокопьевск, <br/>
					span Пятигорск, 
					span Ростов-на-Дону, 
					span Рыбинск, 
					span Рубцовск, 
					span Рязань, 
					span Самара, 
					span Саранск, 
					span Саратов, 
					span Северск, 
					span Сергиев <br/>Посад, 
					span Серпухов, 
					span Симферополь, 
					span Смоленск, 
					span Снежинск, 
					span Солнечногорск, 
					span Сочи, 
					span Ставрополь, 
					span Старый <br/>Оскол, 
					span Стерлитамак, 
					span Стрежевой, 
					span Ступино, 
					span Судак, 
					span Сургут, 
					span Сызрань, 
					span Сыктывкар, 
					span Таганрог, 
					span Тамбов, 
					span Тверь, <br/>
					span Тольятти, 
					span Томск, 
					span Троицк, 
					span Тула, 
					span Тюмень, 
					span Улан-Удэ, 
					span Ульяновск, 
					span Уссурийск, 
					span Уфа, 
					span Ухта, 
					span Хабаровск, <br/>
					span Ханты-Мансийск, 
					span Химки, 
					span Чебоксары, 
					span Челябинск, 
					span Череповец, 
					span Черкесск, 
					span Чусовой, 
					span Шахты, 
					span Чита, 
					span Чусовой, <br/>
					span Электросталь, 
					span Южно-Сахалинск, 
					span Южноуральск, 
					span Юрга, 
					span Якутск, 
					span Ялта, 
					span Ярославль.
				p Полный список городов с пунктами выдачи заказов Вы можете <a href="">найти здесь.</a>

		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery3
				span Бесплатная доставка
			p При заказе <span>от 5000 рублей</span> доставка по России <span>— Бесплатно.</span>
			p Мы доставим Ваш заказ <span>бесплатно,</span> если сумма заказа <span>больше 5000 рублей.</span> Бесплатная доставка <br/>осуществляется курьерской компанией «СДЭК» до пункта самовывоза, возможна отправка Почтой России, если в вашем городе нет пунктов самовывоза «СДЭК».
		.delivery-content__item
			a(href="").delivery-content__link
				i.sprite-delivery.sprite-delivery8
				span Доставка «Почтой России»
			p Доставка «Почтой России» - от 249 руб.
			p Мы отправляем заказы «Почтой России». Расчет стоимости доставки осуществляется при оформлении заказа на сайте. Примерную стоимость доставки вы можете рассчитать самостоятельно <a href=""><span>на сайте «Почты России».</span></a>
