main.main.actions.col-lg-9.col-md-12
	h1.title.title_inner Акции
	p В магазине «Антураж» в июле 2018г. действуют следующие акции и спецпредложения:
	.row
		.col-md-12
			acricle.acticle-content
				h2 Акции
				.row
					.col-md-6
						img(src="static/images/content/action.png", alt="pic")
					.col-md-6.acticle-content
						h3 Летнее снижение цен на цветные гель-лаки UNO
