.popular-product-list__link {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 600;
}
.popular-product-list__link:hover {
	color: inherit;
	.popular-product-price {
		color: $red;
	}
}
.popular-product-list__pic-wrapp {
	margin-bottom: 40px;
}
.popular-product-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
}
.popular-product-price span {
	position: relative;
	padding: 0 30px;
	&:after {
		content: "";
		position: absolute;
		top: 3px;
		right: 0;
		background: url('../images/icons/spritesheet.png');
	    background-repeat: no-repeat;
	    display: block;
	    width: 11px;
    	height: 11px;
    	background-position: -98px -44px;
	}
}
.popular-product-price {
	color: $red;
}

.programm-lid {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 35px 15px 35px;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 5%;
		background: url('../images/icons/spritesheet.png');
	    background-repeat: no-repeat;
	    display: block;
	    width: 45px;
	    height: 45px;
	    background-position: -7px -101px;
	    transform: translateY(-50%);
	}
	p {
		// width: 65%;
		font-size: 18px;
		margin-bottom: 0;
		padding-left: 115px;	
	}
	span {
		color: $red;
		border-bottom: 1px solid $red;
	}
}
.box.recently-watched {
	.box__title-wrapp {
		padding-bottom: 30px;
	}
}

@media (max-width: 992px) { 

}













