.recently-watched-list__item {
	margin-bottom: 20px;
	text-align: center;
}
button.btn.recently-watched-btn {
	display: block;
	min-width: 71px;
	padding: 3px 10px;
	border-radius: 6px;
	background: $red;
	color: $white;
	&:hover {
		background: $light-red;
	}
}

.recently-watched__sum {
	color: $red;
	font-size: 14px;
}
.recently-watched-content {
	margin-bottom: 30px;
}
button.btn.recently-watched-btn {
	margin-bottom: 20px;
}
.recently-watched-have {
	text-align: left;
	span {
		position: relative;
		width: 100%;
		display: inline-block;
		padding-left: 10px;
		color: $green;
		text-decoration: underline;
		// border-bottom: 1px solid $green;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			// top: 50%;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $green;
			margin-top: 5px;
			// transform: translateY(-50%);
		}
	}

}
.recently-watched__order {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	input {
		display: inline-block;
		padding: 3px;
		border-width: 1px;
		border-color: rgb(228, 228, 228);
		border-style: solid;
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		width: 41px;
		min-height: 26px;
	}
	span {
		display: inline-block;
		margin: 0 5px;
	}
}

@media (max-width: 992px) {
	.recently-watched-have {
		text-align: center;
	}
	.recently-watched-have span {
	    text-align: left;
	}
	.page-item-card .item-card-carousel__item {
		margin-bottom: 20px;
	}
}
