.recently-watched-list__item {
	margin-bottom: 20px;
	text-align: center;
	padding-top: 15px;

}
.text-bold {
	font-weight: 600;
}
button.btn.recently-watched-btn {
	display: block;
	// min-width: 71px;
	// padding: 3px 10px;
	// border-radius: 6px;
	background: $red;
	color: $white;
	&:hover {
		background: $light-red;
	}
}

.recently-watched__sum {
	color: $red;
	font-size: 14px;
	font-weight: 600;
}
.recently-watched-content {
	margin-bottom: 30px;
}
button.btn.recently-watched-btn {
	margin-bottom: 20px;
}
.recently-watched-have {
	text-align: left;
	span {
		position: relative;
		// width: 100%;
		display: inline-block;
		padding-left: 10px;
		color: $green;
		font-size: 10px;
		// text-decoration: underline;
		border-bottom: 1px solid $green;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			// top: 50%;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $green;
			margin-top: 5px;
			// transform: translateY(-50%);
		}
	}

}
.recently-watched__order {
	display: flex;
	// justify-content: center;
	flex-wrap: nowrap;
	.recently-watched__order-wrapp input {
		display: inline-block;
		padding: 0 3px;
		border-width: 1px;
		border-color: rgb(228, 228, 228);
		border-style: solid;
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		width: 41px;
		height: 22px;
		text-align: center;
	}

	span {
		display: inline-block;
		margin: 0 5px;
	}
}
button.btn.recently-watched-btn {
  border-radius: 6px;
  background-color: rgb(236, 36, 56);

  width: 71px;
  height: 24px;

}


.box__title-wrapp {
	// margin-bottom: 30px;
}
.recently-watched-have {
	margin-top: 10px;
	position: relative;
	cursor: pointer;
}
.item-card-hover-box {
	// position: absolute;
	// left: 0;
	// right: 0;
	// top: 100%;
	background-color: rgb(255, 255, 255);
	opacity: 0.988;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.11);
	// width: 100%;
	// min-height: 335px;
	z-index: 2;
	padding: 20px;
	color: $base-color-font;
	opacity: 0;
	width: 0;
	height: 0;
	display: none;
	.item-card-hover__item {
		margin-bottom: 10px;
		p {
			color: $base-color-font;
			margin-bottom: 0;

		}
		span {
			position: static;
			color: #44b13f;
			padding-left: 0;

			&:before {
				display: none;
			}
		}
		span.hover__item_no_pay {
			color: #e2e2e2;
		}
	}
}
.recently-watched-have span:hover .item-card-hover-box {
	opacity: 1;
	width: 100%;
	min-height: 335px;
	height: auto;
	display: block;
}

.index-page {
	button.btn.recently-watched-btn {
		margin-bottom: 0;
	}
}
.recently-watched__order, .recently-watched-have {
	margin-left: 40px;

	text-align: left;
}
.recently-watched__order-wrapp {
	margin-right: 20px;
}
button.btn.recently-watched-btn {
	margin-bottom: 0;
}
@media (max-width: 992px) {
	.recently-watched-have {
		text-align: center;
	}
	.recently-watched-have span {
	    text-align: left;
	}
	.page-item-card .item-card-carousel__item {
		margin-bottom: 20px;
	}
}
