include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet")
		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body(class=pageClass)
		.wrapper
			include ../modules/header/header
			.content
				block content
				.container
					.content-wrapper.row
						include ../modules/sidebar/sidebar
						include ../pages/order/order

			include ../modules/footer/footer
			include ../modules/scroller/scroller
		//- //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
			
		//- script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
		//- script(src="static/js/libs.min.js")
		//- script(src="static/js/main.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
		script(src="static/js/libs.min.js")
		//- script(src="libs/airdatepicker/datepicker.js")
		script(src="static/js/main.js")
		block script
