div.box.popular-product
	div.box__title-wrapp
		span.subtitle Самые популярные товары
	ul.popular-product-list.row
		li.popular-product-list__item.col-lg-4.col-md-6
			a(href="").popular-product-list__link
				div.popular-product-list__pic-wrapp
					img(src="static/images/content/popular-product.png", alt="pic")
				p.popular-product-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				div.popular-product-price
					span 1690 руб.
		li.popular-product-list__item.col-lg-4.col-md-6
			a(href="").popular-product-list__link
				div.popular-product-list__pic-wrapp
					img(src="static/images/content/popular-product.png", alt="pic")
				p.popular-product-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				div.popular-product-price
					span 1690 руб.
		li.popular-product-list__item.col-lg-4.col-md-6
			a(href="").popular-product-list__link
				div.popular-product-list__pic-wrapp
					img(src="static/images/content/popular-product.png", alt="pic")
				p.popular-product-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				div.popular-product-price
					span 1690 руб.
		li.popular-product-list__item.col-lg-4.col-md-6
			a(href="").popular-product-list__link
				div.popular-product-list__pic-wrapp
					img(src="static/images/content/popular-product.png", alt="pic")
				p.popular-product-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				div.popular-product-price
					span 1690 руб.
