div.side-news
	article
		span 03.05.2018
		a(href="") Алёна Sokolof записала обзор   на гель-лаки UNO. Бонус: интересный МК.
	article
		span 03.05.2018
		a(href="") Алёна Sokolof записала обзор   на гель-лаки UNO. Бонус: интересный МК.
	article
		span 03.05.2018
		a(href="") Алёна Sokolof записала обзор   на гель-лаки UNO. Бонус: интересный МК.
	article
		span 03.05.2018
		a(href="") Алёна Sokolof записала обзор   на гель-лаки UNO. Бонус: интересный МК.
	div.all-side-news
		a(href="")
			span Все новости
			i.side-news_svg-ico.fal.fa-angle-right
