div.home-slider
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="static/images/content/slider_item1.png", alt="slider-picture")
