div.box.special-offer
	div.box__title-wrapp
		span.subtitle Спецпредложения на 10 января 2019
	ul.special-offer-list.row
		li.special-offer-list__item.col-md-4
			a(href="").special-offer-list__link
				div.special-offer-list__wrapp
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					img(src="static/images/content/special-offer.png", alt="pic")
					div.special-offer-price
						span.sum 690 Р
						span.new-sum 552 Р
					p.special-offer-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button(type="button").btn.special-offer-btn Выбрать
		li.special-offer-list__item.col-md-4
			a(href="").special-offer-list__link
				div.special-offer-list__wrapp
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					img(src="static/images/content/special-offer.png", alt="pic")
					div.special-offer-price
						span.sum 690 Р
						span.new-sum 552 Р
					p.special-offer-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button(type="button").btn.special-offer-btn Выбрать
		li.special-offer-list__item.col-md-4
			a(href="").special-offer-list__link
				div.special-offer-list__wrapp
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					img(src="static/images/content/special-offer.png", alt="pic")
					div.special-offer-price
						span.sum 690 Р
						span.new-sum 552 Р
					p.special-offer-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button(type="button").btn.special-offer-btn Выбрать
