.registration-form__item {
  margin-bottom: 10px;
}
.registration-form__item input {
  border-width: 1.28px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 347.44px;
  height: 25.44px;
  padding: 0 10px;
}

.registration-form__btn-wrapp {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.registration-form__link-wrapp {
  display: inline-block;
  vertical-align: middle;
 
  p {
    margin-bottom: 0;
  }
  a {
    margin: 0 3px;
     text-decoration: underline;
  }
}
.place_recipient-check-wrapp_mb {
  margin-bottom: 30px;
}
button.btn.btn-registration {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  padding: 0 10px;
  border-radius: 13px;
  background-color: rgb(236, 36, 56);
  width: 165px;
  height: 30px;
  &:hover {
    background: $light-red;
  }
}
.registration-form__item.place_recipient-check-wrapp.place_recipient-check-wrapp_mb a {
  border-bottom: 1px solid #272727;
  &:hover {
    border-bottom: 1px solid $red;
  }
}

@media (max-width: 576px) {
  .registration-form__btn-wrapp {
    margin-bottom: 20px;
  }
}
