a(href="").banners__link
	img(src="images/banner.png", alt="banner")
	div.banners__content
		h3.banners__title Выгодные условия
		p.banners__desc для салонов красоты и nail-баров
		button(type="button").btn.banners-btn Узнать подробонсти 
