div.home-page-desc
	p <b>Вы</b> в постоянном поиске новых идей и материалов, цветов и фактур? 
	p <b>Вы любите</b> и умеете создавать на ногтях произведения искусства и невообразимые принты? 
	p <b>Вы</b> – мастер или любитель, совершенствующий свои навыки?
	p В интернет-магазине профессиональной косметики «Антураж» вы найдете все самое необходимое для того, чтобы следить за собой было легко и приятно, а образы, создаваемыми вами для себя и клиентов, были бы необыкновенными.
	p В ассортименте нашего магазина сотни оттенков цветных гель-лаков, супер стойкие лаки для ногтей, материалы для ухода за волосами и перманентного макияжа, средства для восковой и сахарной депиляции, материалы для наращивания ногтей и многое-многое другого. В наличии более двух тысяч товаров для ногтей, волос, депиляции и перманентного макияжа.
	p Специалисты интернет-магазина «Антураж» всегда с радостью придут на помощь: расскажут, покажут, обязательно порекомендуют именно то, что вы так долго искали … И даже сделают приятную скидку.
	
	p <b>Преимущества интернет-магазина «Антураж»:</b>
	ul
		li привлекательные цены
		li профессиональная консультация
		li только качественная продукция от надежных поставщиков
		li все товары в наличии
		li доставка в любой город России
		li удобный самовывоз в Санкт-Петербурге
		li пункты выдачи в десятках городах России
		li скидки и регулярные акции
		li удобные способы оплаты
		li более 20 тысяч клиентов за 10 лет работы!
