div.box.recently-watched
	div.box__title-wrapp
		span.subtitle Вы недавно смотрели
	ul.recently-watched-list.row
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			div.recently-watched__order
				div.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Выбрать
			p.recently-watched-have
				span В наличии
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			div.recently-watched__order
				div.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Выбрать
			p.recently-watched-have
				span В наличии
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			div.recently-watched__order
				div.recently-watched__order-wrapp
					input(type="number", value="1", min="1")
					span шт.
				button(type="submit").btn.recently-watched-btn Выбрать
			p.recently-watched-have
				span В наличии
