div.box.recently-watched
	div.box__title-wrapp
		span.subtitle Вы недавно смотрели
	ul.recently-watched-list.row
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			button(type="button").btn.recently-watched-btn Выбрать
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			button(type="button").btn.recently-watched-btn Выбрать
		li.recently-watched-list__item.col-md-4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			img(src="images/recently-watched.png", alt="pic")
			div.recently-watched-price
				span.recently-watched__sum 690 Р
			p.recently-watched-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			button(type="button").btn.recently-watched-btn Выбрать
