div.home-slider
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
	.home-slider__item
		img(src="images/slider_item1.png", alt="slider-picture")
