div.subscription
	div.subscription-content
		h2.subscription-content__title Подпишитесь
		p.subscription-content__desc На наши акции, новинки, мастер-классы!
		span.subscription-circle 1
	form.subscription-form
		div.subscription-input-wrapp
			input(type="text", placeholder="Куда отправить письмо?")
		button(type="submit").btn.btn-subscription Подписаться
