.actions {
	color: #212121;
	h1 {
		font-weight: 500;
	}
	p {
		font-size: 14px;
		margin-bottom: 30px;
	}
	.acticle-content-wrapp {
		h2 {
			color: $red;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 15px;
		}
		.acticle-content {
			padding: 25px 15px;
		}
		h3 {
			font-size: 12px;
			text-transform: uppercase;
			color: $red;
			margin-bottom: 20px;
		}
		p {
			color: #171717;
			margin-bottom: 15px;
		}
		span {
			font-weight: 500;
			color: #171717;
			margin-bottom: 10px;
		}
	}
	.actions-mb {
		margin-bottom: 35px;
	}
	.actions-items .recently-watched__order {
		position: relative;
	}

	.actions-items .recently-watched__order span:after {
	    content: "";
	    position: absolute;
	    top: 7px;
	    right: 0;
	    background: url('../images/icons/spritesheet.png');
	    background-repeat: no-repeat;
	    display: block;
	    width: 11px;
	    height: 11px;
	    background-position: -98px -44px;
	}

	button.btn-like:hover {
		background: transparent;
	}
	.card-carousel__desc p {
		font-size: 12px;
		margin-bottom: 5px;
	}

}

// .item-card-carousel__item .item-card-carousel__hit {
//     left: 15px;
// }
@media (max-width: 992px) {
	.actions {
		.acticle-content-wrapp {
			text-align: center;
		}
	}
}
