footer.footer
	div.container
		div.row
			.col-lg-5.col-md-12.mob-d-none
				div.footer__item
					span.footer__title Популярные товары
					div.footer-list-wrap
						ul.footer-list.footer-list_50w
							li.footer-list__item
								a.footer-list__link(href="#") Гель лаки
							li.footer-list__item
								a.footer-list__link(href="#") Биотатуаж
							li.footer-list__item
								a.footer-list__link(href="#") Парафинотерапия
							li.footer-list__item
								a.footer-list__link(href="#") Уход за волосами
						ul.footer-list.footer-list_50w
							li.footer-list__item
								a.footer-list__link(href="#") Гель-лаки UNO
							li.footer-list__item
								a.footer-list__link(href="#") Стойкий лак Nona Ultra Pro
							li.footer-list__item
								a.footer-list__link(href="#") Пилики для ногтей
							li.footer-list__item
								a.footer-list__link(href="#") Микроблейдинг
			.col-lg-2.col-md-6.mob-d-none
				div.footer__item
					span.footer__title Информация
					ul.footer-list
						li.footer-list__item
							a.footer-list__link(href="#") Гель лаки
						li.footer-list__item
							a.footer-list__link(href="#") Гель лаки
						li.footer-list__item
							a.footer-list__link(href="#") Гель лаки
						li.footer-list__item
							a.footer-list__link(href="#") Гель лаки
			.col-lg-2.col-md-12
				div.footer__item.footer__item_text-right.footer__item_text-center_mob
					span.footer__title Контакты
					ul.footer-list
						li.footer-list__item
							a.footer-list__link.color-red(href="tel:+78007007380") 
								span 8 800 700-73-80
						li.footer-list__item
							a.footer-list__link(href="tel:+78007007380") 
								span.contacts-city__name.color-light-gray Спб
								span 8 800 700-73-80
						li.footer-list__item
							a.footer-list__link(href="tel:+78007007380") 
								span.contacts-city__name.color-light-gray Мск
								span 8 800 700-73-80			
			.col-lg-3.col-md-12
				div.footer__item
					ul.footer-list.footer-list_socials
						li.footer-list__item
							a(href="#")
								i.sprite.sprite-facebook
						li.footer-list__item
							a(href="#")
								i.sprite.sprite-vk
						li.footer-list__item
							a(href="#")
								i.sprite.sprite-insta
						li.footer-list__item
							a(href="#")
								i.sprite.sprite-youtube
					div.footer-logo
						img(src="images/logo-footer.png", alt="pic")
						p Магазин профессиональной косметики
						span &copy;
						span 2015




















