header.header
	div.top-header
		div.container
			div.row
				div.col-md-2
					a.logo-link(href="index.html")
						img(src="images/logo.png", alt="pic")
				div.col-md-7
					div.row
						div.col-md-4.contacts
							p.color-light-gray Бесплатный звонок по России
							a.contacts__phone(href="tel:+78007007380") 8 800 700-73-80
						div.col-md-6.contacts
							p.contacts__day.color-light-gray Пн-Пт: с 10.00-19.00
							div.contacts-city
								a(href="tel:+78007007380")
									span.contacts-city__name.color-light-gray Спб
									span 8 800 700-73-80
								a(href="tel:+78007007380")
									span.contacts-city__name.color-light-gray Мск
									span 8 800 700-73-80
					form.search-form
						div.search-form__wrapp-input
							input(type="search")
							button.btn.btn-search Найти
				div.col-md-3
					div.user-wrap
						div.card-box
							a(href="") В корзине:
								span 33 шт.
							a(href="") На сумму:
								span 2 990 р
						div.user-cab
							a(href="#").favorites
								span.favorites__num 8
								span.favorites__name Избранное
							div.user-enter-wrap
								a(href="#").user-enter Вход / 
								a(href="#").user-enter Регистрация
	div.bottom-header
		div.container
			div.row
				nav.nav
					ul.nav-list
						li.nav-list__item.active
							a.nav-list__link(href="#") Главная
						li.nav-list__item
							a.nav-list__link(href="#") Блог
						li.nav-list__item
							a.nav-list__link(href="#") Доставка
						li.nav-list__item
							a.nav-list__link(href="#") Как купить
						li.nav-list__item
							a.nav-list__link(href="#") Акции
						li.nav-list__item
							a.nav-list__link(href="#") Скидки
						li.nav-list__item
							a.nav-list__link(href="#") Мастер к	лассы
						li.nav-list__item
							a.nav-list__link(href="#") Партнерство
						li.nav-list__item
							a.nav-list__link(href="#") Faq
						li.nav-list__item
							a.nav-list__link(href="#") Контакты

