.main-page-faq
	h1.title Ответы на вопросы
	.page-faq
		h2.sub-title Регистрация
		.page-faq__accordion
			.faq__accordion-box
				a(data-toggle="collapse", href="#collapseExample", role="button", aria-expanded="false", aria-controls="collapseExample") Для чего нужна процедура регистрации на сайте?
				.collapse#collapseExample
					.accordion-box-content
						p Зарегистрироваться на нашем сайте несложно. 
						ol
							li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
							li Заполнить все необходимые поля и нажать на кнопку «Регистрация» - 
								a(href="https://shop.antu.ru/signup/") https://shop.antu.ru/signup/
					.accordion-box-fancy

					
