main.main
	include blocks/slider.pug
	include blocks/special-offer.pug
	include blocks/popular-product.pug
	div.programm-lid
		p Программа лояльности и система скидок для клиентов до
			span 10%
	include blocks/recently-watched.pug
