aside.sidebar
	div.sidebar__switches.tabs
		span.tab.tab-active Каталог
		span.tab Бренд
	div.tab_content
		div.tab_items
			div.accrodion-menu
				ul.menu-list
					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-gellak_icon
							span Гель-лаки, краски, лаки
							i.menu-list__link_svg-ico.fal.fa-angle-right
					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-modelir_icon
							span Моделирование ногтей
							i.menu-list__link_svg-ico.fal.fa-angle-right

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-manikur_icon
							span Маникюр / Педикюр
							i.menu-list__link_svg-ico.fal.fa-angle-right

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-design_icon
							span Дизайн / Nail-Art
							i.menu-list__link_svg-ico.fal.fa-angle-right

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-resnicy_icon
							span Ресницы / Брови
							i.menu-list__link_svg-ico.fal.fa-angle-right
						ul.sub-menu
							li
								a(href="") Ресницы/Брови
							li
								a(href="")
									span Материалы для ресниц и бровей (Биотатуаж)
								ul.hover-sub-menu
									li
										a(href="") Материалы для ресниц и бровей
									li
										a(href="") Инструменты для работы с ресницами и бровями
									li
										a(href="") Ухаживающие средства
									li
										a(href="") Окрашивание бровей и ресниц
									li
										a(href="") Ресницы для наращивания
									li
										a(href="") Средства для наращивания ресниц
									li
										a(href="") Сопутствующие товары

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-spa_icon
							span Салонные процедуры / SPA
							i.menu-list__link_svg-ico.fal.fa-angle-right

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-uxod_icon
							span Уход за волосами
							i.menu-list__link_svg-ico.fal.fa-angle-right

					li.menu-list__item
						a(href="").menu-list__link
							i.menu-list__icon.sprite.sprite-perchatka_icon
							span Вспомогательные материалы
							i.menu-list__link_svg-ico.fal.fa-angle-right
		div.tab_items 222



