button.btn.btn-user-tab {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid $red;
  color: $red;
  border-radius: 6px;
  margin-right: 15px;
  &:hover {
    color: $white;
    background: $red;
  }
}
button.btn.btn-user-tab.tab-active {
  color: $white;
  background: $red;
}
.user-tabs {
  margin-bottom: 45px;
}
.form-wrapp {
  display: flex;
  justify-content: space-between;
}
.form-box {
  width: 45%;
  margin-bottom: 25px;
  p.user-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.user {
  .tab-items {
    form {
      width: 100%;
      .user-input {
        margin-bottom: 15px;
        input {
          width: 100%;
          border: none;
          font-weight: 400;
        }
        textarea {
          border: none;
          width: 100%;
          // min-height: 100px;
        }
        input:disabled,
        textarea:disabled {
          background: transparent;
          color: $base-color-font;
        }
      }
    }
  }
}
button.btn.btn-editing {
  display: inline-block;
  padding: 5px 15px;
  color: $white;
  background: $red;
  border-radius: 7px;
  margin-right: 15px;
  &:hover {
    border: 1px solid $red;
    color: $red;
    background: $white;
  }
}

@media (max-width: 768px) {
  .user {
    .form-wrapp {
      flex-wrap: wrap;
    }
    .form-box {
      width: 100%;
    }
  }
}









