button.btn.btn-user-tab {
  display: inline-block;
  width: 109px;
  height: 34px;
  // padding: 10px 15px;
  border: 1px solid $red;
  color: $red;
  border-radius: 6px;
  margin-right: 15px;
  &:hover {
    color: $white;
    background: $red;
  }
}

.User-page .table__item {
  // padding-bottom: 15px;
  border-bottom: 1px solid rgb(249, 249, 249);
}

button.btn.btn-user-tab.tab-active {
  color: $white;
  background: $red;
}
.user-tabs {
  margin-bottom: 45px;
}
.form-wrapp {
  display: flex;
  justify-content: space-between;
}
.form-box {
  width: 45%;
  margin-bottom: 25px;
  p.user-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.user {
  .tab-items {
    form {
      width: 100%;
      .user-input {
        margin-bottom: 15px;
        input {
          width: 100%;
          border: none;
          font-weight: 400;
        }
        textarea {
          border: none;
          width: 100%;
          // min-height: 100px;
        }
        input:disabled,
        textarea:disabled {
          background: transparent;
          color: $base-color-font;
        }
      }
    }
  }
}
button.btn.btn-editing {
  display: inline-block;
  padding: 5px 15px;
  color: $white;
  background: $red;
  border-radius: 7px;
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    border: 1px solid $red;
    color: $red;
    background: $white;
  }
}
.table {
  width: 100%;
  // display: table;
}

.table__head {
    display: flex;
    justify-content: space-between;
}
.table__item {
    display: flex;
    justify-content: space-between;
}
.th {
  font-weight: 600;
}
.th, .td {
  // display: table-cell;
  width: 16%;
  padding: 15px 15px 15px 0;
}
.table-status-order {
  border-radius: 6px;
  background-color: $red;
  // min-width: 85px;
  color: $white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  // padding: 3px 10px;
  width: 85px;
  height: 23px;
  line-height: 23px;
}

.user .tab-items form .user-input.user-textarea {
  margin-bottom: 0;
}
.table-status-order_green {
  background-color: #34d55e;
}
@media (max-width: 1200px) {
  .table {
    display: flex;
  }

  .table__head {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 49%;
  }
  .table__item {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 49%;
  }

  .th, .td {
    width: 100%;
    // display: block;
    display: inline-block;
    vertical-align: middle;
    min-height: 50px;
    padding: 0;
    padding-bottom: 15px;
  }

}

@media (max-width: 768px) {
  .user {
    .form-wrapp {
      flex-wrap: wrap;
    }
    .form-box {
      width: 100%;
    }
  }
}









