.main-page-faq {
	font-family: 'Lato Regular';
	// line-height: 10.25px;
	color: #212121;
	.page-faq {
		margin-bottom: 45px;
	}

	.sub-title {
		margin-bottom: 20px;
	}
	.faq__accordion-box a {
		display: inline-block;
		border-bottom: 1px solid #212121;
		margin-bottom: 10px;
		color: #212121;
		&:hover {
			color: $light-red;
			border-bottom: 1px solid $light-red;
		}
	}
	.faq__accordion-box a.active {
		color: $red;
		border-bottom: 1px solid $light-red;
		&:hover {
			color: $light-red;
		}
	}
	.faq__accordion-box {
		font-size: 12px;
	}
	.accordion-box-content ol {
		padding-left: 12px;
	}
	.accordion-box-content ol li {
		margin-bottom: 10px;
		a {
			color: $red;
			border-bottom: 0;
			&:hover {
				border-bottom: none;
			}
		}
	}
}

.accordion-box-fancy {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.accordion-box-fancy__item {
		width: 49%;
	}
	a.fancybox {
		display: block;
		border-bottom: none;
		border: 1px solid $color-light-gray;
		&:hover {
			border-bottom: none;
			border: 1px solid $color-light-gray;
		}
	}
}
.main-page-faq .faq__accordion-box a.color-red {
	color: $red;
	border-bottom: 1px solid $red;
}
@media (max-width: 992px) {
.accordion-box-fancy {
	.accordion-box-fancy__item  {
		width: 100%;
	}
}

}
