// Colors
$white: #ffffff;
$black: #000000;
$color-black: #000;
$color-white: #fff;
$base-color-font: #3b3b3b;
$gray: #8d8d8d;
$color-light-gray: #c2c2c2;
$light-red: #ff5f6f;
$red: #ec2438;
$green: #3caf38;
// Sizes
$base-font-size: 12px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

// $content-size: 1024px;

// Fonts
