div.banners-box.col-lg-2.col-md-12
	a(href="").banners__link
		img(src="static/images/content/banner.png", alt="banner")
		div.banners__content
			h3.banners__title Выгодные условия
			p.banners__desc для салонов красоты и nail-баров
			button(type="button").btn.banners-btn Узнать подробонсти 
	div.banners-advantages
		h2.banners-title Полезное
		a(href="").banners__link
			span Быстрая доставка
			i.sprite.sprite-dostavka_icon
		a(href="").banners__link
			span Гарантия качества
			i.sprite.sprite-product_icon
