main.main.col-lg-7.col-md-12
	include ../../modules/blocks/slider.pug
	include ../../modules/blocks/special-offer.pug
	include ../../modules/blocks/popular-product.pug
	div.programm-lid
		p Программа лояльности и система скидок для клиентов до
			span 10%
	include ../../modules/blocks/recently-watched.pug
	include ../../modules/blocks/home-page-desc.pug
