main.main.col-lg-9.col-md-12
	.main-page-faq
		h1.title Ответы на вопросы
		.page-faq
			h2.sub-title Регистрация
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample1", role="button", aria-expanded="false", aria-controls="collapseExample") Для чего нужна процедура регистрации на сайте?
					.collapse#collapseExample1
						.accordion-box-content
							p Зарегистрироваться на нашем сайте несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация»<br>, расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку<br> «Регистрация» - 
									a(href="https://shop.antu.ru/signup/") https://shop.antu.ru/signup/
						.accordion-box-fancy
							.accordion-box-fancy__item
								a(href="static/images/content/item1.png", data-fancybox="group1").fancybox
									img(src="static/images/content/item1.png", alt="pic")
							.accordion-box-fancy__item
								a(href="static/images/content/item.png", data-fancybox="group1").fancybox
									img(src="static/images/content/item.png", alt="pic")
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample2", role="button", aria-expanded="false", aria-controls="collapseExample").active Как пройти процедуру регистрации на сайте?
					.collapse.show#collapseExample2
						.accordion-box-content
							p Зарегистрироваться на нашем сайте несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация»<br>, расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку<br> «Регистрация» - 
									a(href="https://shop.antu.ru/signup/") https://shop.antu.ru/signup/
						.accordion-box-fancy
							.accordion-box-fancy__item
								a(href="static/images/content/item1.png", data-fancybox="group1").fancybox
									img(src="static/images/content/item1.png", alt="pic")
							.accordion-box-fancy__item
								a(href="static/images/content/item.png", data-fancybox="group1").fancybox
									img(src="static/images/content/item.png", alt="pic")
		.page-faq
			h2.sub-title Заказ
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample3", role="button", aria-expanded="false", aria-controls="collapseExample").active Как оформить заказ в интернет-магазине «Антураж»?
					.collapse.show#collapseExample3
						.accordion-box-content
							p Оформить заказ в интернет-магазине «Антураж» очень просто. Для этого вам нужно:
							ol
								li Выбрать понравившийся товар
								li Нажать на кнопку «В корзину»
								li Когда все необходимые вам товары будут в корзине, нажмите на кнопку «Корзина»,<br> расположенную в правом верхнем углу.
								li Проверьте еще раз добавленные в корзину товары.
								li Нажмите на кнопку «Оформить заказ»
								li Укажите необходимую контактную информацию (ФИО, телефон, e-mail)
								li Выберите удобный для вас способ доставки
								li Выберите удобный для вас способ оплаты заказа
								li Подтвердите заказ нажатием кнопки «Оформить заказ»
								li При необходимости вы можете оставить комментарий.
								li Менеджеры нашего интернет-магазина в любом случае свяжутся с Вами после того, как заказ будет<br> оформлен.
							p Более подробную информацию о том как купить товар, <a href="#" class="color-red">смотрите на этой странице</a>.
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample4", role="button", aria-expanded="false", aria-controls="collapseExample") Могу ли я оформить заказ по телефону?
					.collapse#collapseExample4
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
		.page-faq
			h2.sub-title Оплата
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample5", role="button", aria-expanded="false", aria-controls="collapseExample") Как осуществляется оплата заказов?
					.collapse#collapseExample5
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»

		.page-faq
			h2.sub-title Доставка
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample6", role="button", aria-expanded="false", aria-controls="collapseExample") Какие способы доставки существуют в интернет-магазине «Антураж»?
					.collapse#collapseExample6
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample7", role="button", aria-expanded="false", aria-controls="collapseExample") Какова стоимость доставки?
					.collapse#collapseExample7
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample8", role="button", aria-expanded="false", aria-controls="collapseExample") Могу ли я вернуть товар?
					.collapse#collapseExample8
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample9", role="button", aria-expanded="false", aria-controls="collapseExample") Что делать, если пришел бракованный товар или не тот товар?
					.collapse#collapseExample9
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
		.page-faq
			h2.sub-title Возврат/Гарантия
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample10", role="button", aria-expanded="false", aria-controls="collapseExample") Могу ли я вернуть товар?
					.collapse#collapseExample10
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample11", role="button", aria-expanded="false", aria-controls="collapseExample") Что делать, если пришел бракованный товар или не тот товар?
					.collapse#collapseExample11
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
		.page-faq
			h2.sub-title Продукция
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample12", role="button", aria-expanded="false", aria-controls="collapseExample") Как выбрать гель-лак?
					.collapse#collapseExample12
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample13", role="button", aria-expanded="false", aria-controls="collapseExample") Можно ли использовать гель-лак, топ и базу разных производителей?
					.collapse#collapseExample13
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample14", role="button", aria-expanded="false", aria-controls="collapseExample") Лаки с эффектом геля нужно использовать только с «родным» топом?
					.collapse#collapseExample14
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample15", role="button", aria-expanded="false", aria-controls="collapseExample") Что входит в набор маникюра для начинающего мастера?
					.collapse#collapseExample15
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample16", role="button", aria-expanded="false", aria-controls="collapseExample") Как снимаются гель-лаки UNO?
					.collapse#collapseExample16
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
		.page-faq
			h2.sub-title Партнёрство
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample17", role="button", aria-expanded="false", aria-controls="collapseExample") Как стать официальным дистрибьютором гель-лаков UNO?
					.collapse#collapseExample17
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
		.page-faq
			h2.sub-title Общие вопросы
			.page-faq__accordion
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample18", role="button", aria-expanded="false", aria-controls="collapseExample") Где производятся гель-лаки UNO?
					.collapse#collapseExample18
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample19", role="button", aria-expanded="false", aria-controls="collapseExample") Почему цены на некоторые товары ниже, чем в других магазинах?
					.collapse#collapseExample19
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
				.faq__accordion-box
					a(data-toggle="collapse", href="#collapseExample20", role="button", aria-expanded="false", aria-controls="collapseExample") Расхождение в весе товара
					.collapse#collapseExample20
						.accordion-box-content
							p Оформить заказ по телефону несложно. 
							ol
								li Для этого вам необходимо нажать на кнопку «Регистрация», расположенную в правом верхнем углу.
								li Заполнить все необходимые поля и нажать на кнопку «Регистрация»
