main.main.user.col-lg-9.col-md-12
	h1.title Мой профиль
	.user-tabs.tabs
		button.btn.btn-user-tab.tab.tab-active Мои заказы
		button.btn.btn-user-tab.tab Мой профиль
	.tab-content
		.tab-items
			.table
				.table__head
					.th № Заказа
					.th Статус
					.th Содержание заказа
					.th Тип доставки
					.th Оплата
					.th Дата
				.table__item
					.td
						span #1008755
					.td
						span.table-status-order Возврат
					.td
						p Мини-набор для стемпинга (штамп + скрапер)
						p (Штампик маленький для ногтей розовый) x 1
						p Двухсторонний штамп (Штампик двухсторонний x1)
					.td
						span Курьерская доставка по СПБ (в пределах МКад)
					.td
						span Наличные
					.td
						span 3 апреля 2018

				.table__item
					.td
						span #1008455
					.td
						span.table-status-order.table-status-order_green Выполнен
					.td
						p UNIO, Гель-лак «Кошачий глаз» №13 (Гел-лак Cat’s eye» - 13 (Кошачий глаз),10 мл.) x 3
					.td
						span Курьерская доставка по СПБ (в пределах МКад)
					.td
						span Наличные
					.td
						span 26 октября 2018


		.tab-items
			form
				.form-wrapp
					.form-box
						p.user-title Фамилия и имя
						.user-input
							input(type="text" value="Екатеринова Екатерина" disabled)
						p.user-title Email
						.user-input
							input(type="email" value="naumova@antu.ru" disabled)
						p.user-title Адрес доставки
						.user-input.user-textarea
							textarea(disabled) Петропавловск-Камчатский, ул. Пушкина, дом Колотушкина, кв. 6, этаж 6."
					.form-box
						p.user-title Телефон
						.user-input
							input(type="tel" value="+7 (921) 321-12-12" disabled)
						p.user-title День рождения
						.user-input
							input(type="date" value="1984-11-20" disabled)
						p.user-title Подписка на e-mail рассылку
						.user-input
							input(type="text" value="№151456044" disabled)
				button.btn.btn-editing Редактировать
