extends pug/base

append vars

block content
	div.page
		include pug/components/header.pug
		div.container
			div.content-wrapper.row
				aside.sidebar.col-lg-4.col-md-12
					include pug/components/sidebar.pug
					include pug/components/blocks/side-news.pug
					include pug/components/blocks/subscription.pug
				main.main.col.col-md-12
					include pug/components/main-faq.pug

	include pug/components/footer.pug


