extends pug/base

append vars

block content
	div.page
		include pug/components/header.pug
		div.container
			div.content-wrapper.row
				aside.sidebar.col-lg-3.col-md-12
					include pug/components/sidebar.pug
					include pug/components/blocks/side-news.pug
					include pug/components/blocks/subscription.pug
				main.main.col-lg-7.col-md-12
					include pug/components/main.pug
				div.banners-box.col-lg-2.col-md-12
					include pug/components/blocks/banners.pug
	include pug/components/footer.pug


