extends pug/base

append vars

block content
	div.page
		include pug/components/header.pug
		div.container
			div.content-wrapper.row
				aside.sidebar.left-panel.col-md-3
					include pug/components/sidebar.pug
					include pug/components/blocks/side-news.pug
					include pug/components/blocks/subscription.pug
				main.main.col-md-7
					include pug/components/main.pug
				div.right-panel.col-md-2
	include pug/components/footer.pug


