$sprites: ();

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}


//sprites
.sprite {
	background: url('../images/icons/spritesheet.png');
    background-repeat: no-repeat;
    display: block;	
}
.sprite-card {
    width: 20px;
    height: 21px;
    background-position: -7px -7px;
}

.sprite-design_icon {
    width: 14px;
    height: 13px;
    background-position: -41px -7px;
}

.sprite-dostavka_icon {
    width: 38px;
    height: 22px;
    background-position: -69px -7px;
}

.sprite-facebook {
    width: 22px;
    height: 23px;
    background-position: -121px -7px;
}

.sprite-gellak_icon {
    width: 13px;
    height: 14px;
    background-position: -7px -44px;
}

.sprite-heart {
    width: 14px;
    height: 14px;
    background-position: -34px -44px;
}

.sprite-insta {
    width: 22px;
    height: 23px;
    background-position: -62px -44px;
}

.sprite-izbranoe_icon {
    width: 11px;
    height: 11px;
    background-position: -98px -44px;
}

.sprite-manikur_icon {
    width: 13px;
    height: 14px;
    background-position: -123px -44px;
}

.sprite-modelir_icon {
    width: 9px;
    height: 14px;
    background-position: -7px -72px;
}

.sprite-otpravit_icon {
    width: 10px;
    height: 10px;
    background-position: -30px -72px;
}

.sprite-perchatka_icon {
    width: 11px;
    height: 15px;
    background-position: -98px -72px;
}

.sprite-procent_icon {
    width: 42px;
    height: 42px;
    background-position: -7px -101px;
}

.sprite-product_icon {
    width: 38px;
    height: 43px;
    background-position: -63px -101px;
}

.sprite-resnicy_icon {
    width: 14px;
    height: 11px;
    background-position: -123px -72px;
}

.sprite-spa_icon {
    width: 15px;
    height: 11px;
    background-position: -123px -97px;
}

.sprite-switches {
    width: 11px;
    height: 11px;
    background-position: -115px -122px;
}

.sprite-uxod_icon {
    width: 15px;
    height: 13px;
    background-position: -157px -7px;
}

.sprite-vk {
    width: 22px;
    height: 23px;
    background-position: -151px -44px;
}

.sprite-youtube {
    width: 22px;
    height: 23px;
    background-position: -152px -81px;
}
