main.main.blog.col-lg-9.col-md-12
	h1.title.title_inner Статьи о маникюре
	.row.blog-sort
		.col-md-12.blog-sort__item
			span Сортировать по:
			a(href="") Дате добавления
			a(href="") Популярности
		.col-md-12.blog-sort__item
			span Тема:
			a(href="") Обзоры товаров и рекомендации
			a(href="") Фотоуроки дизайна
			a(href="") Советы и инструкции по технологии
		.col-md-12.blog-sort__item
			span Статья о:
			a(href="") Гель-лаках
			a(href="") Моделировании ногтей
			a(href="") Дизайне ногтей
			a(href="") Уходе за ногтями
			a(href="") Стерилизаторах
		.col-md-12.blog-sort__item
			span Тип:
			a(href="") Видеообзоры
			a(href="") Текстовые стати
			a(href="") Мнения

	article.blog-article
		.row
			.col-md-12
				.blog-article__link
					h2 MK "Ананас" 4D гелем от Uno Lux
					.row
						.col-md-4
							.blog-article__pic
								img(src="static/images/content/blog1.png", alt="pic")
								.blog-article__pic_overlay
									p
										i.fas.fa-heart
										span 150
									p
										i.fas.fa-eye
										span 940
							.blog-article__desc
								span 20.06.2019
								a(href="") Комментировать  5
						.col-md-7
							.blog-article__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								p Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non proident, df sddf dsunt in culpa qui officia deserunt mollit laborum. 
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabods sdfsdd.
								.blog-article__wrapp_link
									a(href="") Читать 
	article.blog-article
		.row
			.col-md-12
				.blog-article__link
					h2 Охладимся! Летний МК "Мороженое"
					.row
						.col-md-4
							.blog-article__pic
								img(src="static/images/content/blog2.png", alt="pic")
								.blog-article__pic_overlay
									p
										i.fas.fa-heart
										span 150
									p
										i.fas.fa-eye
										span 940
							.blog-article__desc
								span 20.06.2019
								a(href="") Комментировать  5
						.col-md-7
							.blog-article__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								p Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non proident, df sddf dsunt in culpa qui officia deserunt mollit laborum. 
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabods sdfsdd.
								.blog-article__wrapp_link
									a(href="") Читать 
	article.blog-article
		.row
			.col-md-12
				.blog-article__link
					h2 Охладимся! Летний МК "Мороженое"
					.row
						.col-md-4
							.blog-article__pic
								img(src="static/images/content/blog3.png", alt="pic")
								.blog-article__pic_overlay
									p
										i.fas.fa-heart
										span 150
									p
										i.fas.fa-eye
										span 940
							.blog-article__desc
								span 20.06.2019
								a(href="") Комментировать  5
						.col-md-7
							.blog-article__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								p Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non proident, df sddf dsunt in culpa qui officia deserunt mollit laborum. 
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabods sdfsdd.
								.blog-article__wrapp_link
									a(href="") Читать 
	article.blog-article
		.row
			.col-md-12
				.blog-article__link
					h2 MK "Ананас" 4D гелем от Uno Lux
					.row
						.col-md-4
							.blog-article__pic
								img(src="static/images/content/blog4.png", alt="pic")
								.blog-article__pic_overlay
									p
										i.fas.fa-heart
										span 150
									p
										i.fas.fa-eye
										span 940
							.blog-article__desc
								span 20.06.2019
								a(href="") Комментировать  5
						.col-md-7
							.blog-article__content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								p Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non proident, df sddf dsunt in culpa qui officia deserunt mollit laborum. 
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabods sdfsdd.
								.blog-article__wrapp_link
									a(href="") Читать 
	nav(aria-label="Page navigation example")
		ul.pagination
			li.page-item.disabled
				a.page-link(href="")
					span(aria-hidden="true") &laquo;
			li.page-item.active
				a.page-link(href="") 1
			li.page-item
				a.page-link(href="") 2
			li.page-item
				a.page-link(href="") 3
			li.page-item
				a.page-link(href="") 4
			li.page-item
				a.page-link(href="") 5
			li.page-item
				a.page-link(href="") 6
			li.page-item
				a.page-link(href="") 7
			li.page-item
				a.page-link(href="") 8
			li.page-item
				a.page-link(href="") 9
			li.page-item
				a.page-link(href="") 10
			li.page-item
				a.page-link(href="")
					span(aria-hidden="true") &raquo;
