main.main.favourites.col-lg-9.col-md-12
	h1.title Избранное
		i.fas.fa-heart
	.favourites__sort
		.favourites__title-wrapp
			h2.sub-title Список избранных товаров —<span> 9 шт.</span>
		.favourites__sort-list
			span Вид:
			a(href="").favourites__icon.favourites__view_4
				i.fas.fa-th
			a(href="").favourites__icon.favourites__view_1
				i.fas.fa-align-justify
	.row
		.col-md-12.favourites-mb
			.actions-items.page-item-card
				.row
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии

	.row
		.col-md-12.favourites-mb
			.actions-items.page-item-card
				.row
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
					.col-lg-3.col-md-6.item-card-carousel__item
						.item-card-carousel__hit
							span Хит!
						h4 UNO, Гель-краска №015 Red — «Красная»
						.card-carousel-pic
							.card-carousel-pic_first
								img.carousel-pic_first_show(src="static/images/content/Untitled-1.png", alt="pic")
								img.carousel-pic_first_hide(src="static/images/content/show1.png", alt="pic")
							.card-carousel-pic_inner
								img.carousel-pic_inner_show(src="static/images/content/Untitled-2.png", alt="pic")
								img.carousel-pic_inner_hide(src="static/images/content/show2.png", alt="pic")
						.card-carousel__desc
							p Плотная гель-краска красного цвета. 
							p Имеет дисперсионный слой.  5мл.
						.card-carousel__price
							span 390 &#8381;
						.recently-watched__order
							.recently-watched__order-wrapp
								input(type="number", value="1", min="1")
								span шт.
							button(type="submit").btn.recently-watched-btn Купить
							button(type="submit").btn.btn-like
								span
						p.recently-watched-have
							span В наличии
	
	nav(aria-label="Page navigation example")
		ul.pagination
			li.page-item.disabled
				a.page-link(href="")
					span(aria-hidden="true") &laquo;
			li.page-item.active
				a.page-link(href="") 1
			li.page-item
				a.page-link(href="") 2
			li.page-item
				a.page-link(href="") 3
			li.page-item
				a.page-link(href="") 4
			li.page-item
				a.page-link(href="") 5
			li.page-item
				a.page-link(href="") 6
			li.page-item
				a.page-link(href="") 7
			li.page-item
				a.page-link(href="") 8
			li.page-item
				a.page-link(href="") 9
			li.page-item
				a.page-link(href="") 10
			li.page-item
				a.page-link(href="")
					span(aria-hidden="true") &raquo;
