main.main.favourites.col-lg-9.col-md-12
	h1.title Избранное
		i.fas.fa-heart
	.favourites__sort
		.favourites__title-wrapp
			h2.sub-title Список избранного пуст
			p Если в вашем Избранном были товары — <a href="">войдите с паролем</a>, чтобы увидеть список.
			p Сохраняйте товары в избранном с <span>помощью</span>, расположенном в карточке товара.
			p Используя личный кабинет, Вы сможете пользоваться функцией <a href="">Избранное</a>. Для того, чтобы добавлять понравившиеся товары и не потерять.


